[2021-03-30 02:15] GroovinChip opened #2 "Repo setup tasks"
- [x] Add info to `CONTRIBUTING.md` (branch structure, etc)
- [x] Decide on lint rules and add them to `analysis_options.yaml`
- [x] Decide on any actions and add them
- [x] Decide on a pull request template and add it
- [ ] ~~Decide on an issue template and add it~~

[2021-03-30 13:54] GroovinChip opened #3 "Library structure"
A structure needs to be established within `/src`. I'm leaning towards the structure that Apple uses in their Human Interface Guidelines. If anyone has any thoughts on this, please share. Thanks!

[2021-04-03 21:19] GroovinChip opened #14 "Scaffold todos"
- [ ] [Translucency](https://developer.apple.com/design/human-interface-guidelines/macos/visual-design/translucency/) effect for sidebars
- [ ]

[2021-04-03 21:39] GroovinChip commented on #14
Closing in favor of  #15

[2021-04-03 21:39] #14 closed

[2021-04-09 20:22] #3 closed

[2021-04-15 20:33] GroovinChip opened #25 "Rename Style to MacosThemeData"

[2021-04-15 20:35] GroovinChip opened #26 "☂️ Revamp Scaffold"
Discussion here: https://github.com/GroovinChip/macos_ui/discussions/15

- [x] Support multiple resizable panels
- [x] Scaffold should show/hide any sidebars/resizable panes at a specified breakpoint
- [ ] Scaffold `Titlebar` should support `Toolbar` widgets

[2021-04-15 21:36] bdlukaa opened #28 "Showcase example app"
Make the [example](https://github.com/GroovinChip/macos_ui/tree/dev/example) a showcase application, showing all the implemented widgets

[2021-04-16 02:25] GroovinChip commented on #2
Lint rules more or less addressed by #16 and #17

[2021-04-16 02:26] GroovinChip commented on #2
Next up will be PR templates

[2021-04-16 02:30] bdlukaa commented on #2
I'd be good to just follow dart conventions. (dartfmt)

[2021-04-16 02:35] GroovinChip commented on #2
I'd like to have a checklist considering (at least)
* Addressed analyzer warnings as best as could be
* Dartfmt on all changed files
* Optimize imports on all changed files
* Documentation added/updated if applicable
* Version bump/changelog updated

Dartfmt/optimize imports could potentially be addressed in an Action? I'm still not great at those 😅

[2021-04-16 02:39] GroovinChip commented on #26
Another thing - Toolbar and ResizablePane dividers should respect their boundaries, as seen here:
<img width="766" alt="Screen Shot 2021-04-15 at 10 38 30 PM" src="https://user-images.githubusercontent.com/4250470/114963694-50c0be00-9e3b-11eb-9f7a-1c32a2150e08.png">
- [ ] No horizontal toolbar divider for Sidebars

[2021-04-16 10:52] lesliearkorful commented on #26
Sidebars have a horizontal divider at the top when they're scrolled.
Even more like a shadow
![image](https://user-images.githubusercontent.com/4087388/115014344-ba73b300-9ea1-11eb-90c6-de36acfebc50.png)

[2021-04-16 12:18] GroovinChip commented on #26
Ah, you're correct.

[2021-04-16 21:29] bdlukaa commented on #28
Currently blocked by https://github.com/GroovinChip/macos_ui/issues/26

[2021-04-17 15:13] GroovinChip opened #31 "Improve Typography"
- [x] Remove `height` from all `TextStyle`s
- [x] Add letter spacing to all `TextStyle`s that require it
- [x] Add correct weights to all `TextStyle`s

[2021-04-17 15:14] GroovinChip opened #32 "High contrast themes"
Todo: description

[2021-04-17 16:07] #25 closed

[2021-04-17 16:42] GroovinChip commented on #2
Decided issue templates not necessary at this time.

Decided on https://github.com/marketplace/actions/dart-flutter-package-analyzer as an Action.

[2021-04-17 17:10] #2 closed

[2021-04-17 17:12] GroovinChip opened #36 "Add `checkbox` widget"

[2021-04-17 17:12] GroovinChip opened #37 "Add `RadioButton` widget"

[2021-04-17 17:13] GroovinChip opened #38 "Add `LevelIndicator` widget"

[2021-04-17 17:15] GroovinChip opened #39 "Add `PushButton` widget"

[2021-04-17 19:44] #39 closed

[2021-04-17 20:10] #31 closed

[2021-04-17 22:57] bdlukaa opened #42 "Implement date pickers"
Implement date and hour pickers:

- Graphical pickers

![](https://developer.apple.com/design/human-interface-guidelines/macos/images/datePickerGraphical.png)

- Textual pickers

![](https://developer.apple.com/design/human-interface-guidelines/macos/images/datePickerTextual.png)

Resources:
  - [Date Pickers](https://developer.apple.com/design/human-interface-guidelines/macos/selectors/date-picke

[2021-04-18 19:44] GroovinChip opened #44 "Create extension on `CupertinoDynamicColor` for resolving colors using `MacosTheme.maybeBrightnessOf`"
See #30

[2021-04-18 20:44] #44 closed

[2021-04-19 00:27] #38 closed

[2021-04-19 15:23] #36 closed

[2021-04-19 15:23] #37 closed

[2021-04-22 05:20] harshvsb1105 opened #48 "Implement Help Button"
![buttonsHelp_2x](https://user-images.githubusercontent.com/66870883/115659332-0918c580-a358-11eb-976f-b30d3afdf633.png)
Resource :
https://developer.apple.com/design/human-interface-guidelines/macos/buttons/help-buttons/

[2021-04-23 20:41] kiesman99 opened #49 "Level Indicator not working as expected"
As stated in the description provided by apple the Level Indicator should implement user interaction. Clicking on a bar or sliding over the bar should adjust the value.

<img width="724" alt="Screenshot 2021-04-23 at 22 24 38" src="https://user-images.githubusercontent.com/17956096/115926381-09fa4600-a483-11eb-9ed0-6e52b9988f07.png">

However, as you can see in the following GIF clicking on a bar

[2021-04-23 20:43] vietz-dev commented on #49
Unfortunately I cannot look into this issue right now (I will attend some exams in the next weeks, therefore I have to study).

[2021-04-23 23:08] bdlukaa commented on #49
I can reproduce this in the latest dev.

[2021-04-24 01:06] GroovinChip commented on #49
Thanks for reporting this issue @kiesman99, and thank you @bdlukaa for the quick fix!

[2021-04-28 11:18] aloisdeniel opened #53 "Contextual menu"
These kinds of menus are almost everywhere in macOS UIs :

![image](https://user-images.githubusercontent.com/7687231/116395370-54cde200-a824-11eb-94a8-f1c481dce62d.png)

Implementing them would require a native plugin since they can appear outside of the main window.

They would also allow to implement list pickers like :

![image](https://user-images.githubusercontent.com/7687231/116395535-89419

[2021-05-01 16:23] #48 closed

[2021-05-02 17:04] GroovinChip opened #59 "Fix reference to Slider in readme"
Line 206 of the readme links to a slider widget like so: [slider](#slider). However, there is no such link in this file.

[2021-05-02 17:09] bdlukaa commented on #59
I actually kept it here because we're gonna implement slider soon, so..

[2021-05-02 17:10] GroovinChip commented on #59
Fair enough. Wasn't aware that was in motion.

[2021-05-02 17:10] #59 closed

[2021-05-03 02:40] GroovinChip opened #60 "Alert Dialog"
<img width="1481" alt="Screen Shot 2021-05-02 at 10 38 08 PM" src="https://user-images.githubusercontent.com/4250470/116837116-1d9a6080-ab97-11eb-9cc3-38c57e9eecd9.png">
<img width="1481" alt="Screen Shot 2021-05-02 at 10 38 16 PM" src="https://user-images.githubusercontent.com/4250470/116837119-1e32f700-ab97-11eb-83a0-cb21058aa1af.png">

Progress can be tracked [here](https://github.com/GroovinCh

[2021-05-03 23:41] bdlukaa opened #61 "Fields and Labels"
Implement text and label fields:

- [ ] [Text Fields](https://developer.apple.com/design/human-interface-guidelines/macos/fields-and-labels/text-fields/)
- [ ] [Combo Box](https://developer.apple.com/design/human-interface-guidelines/macos/fields-and-labels/combo-boxes/)
- [ ] [Search Fields](https://developer.apple.com/design/human-interface-guidelines/macos/fields-and-labels/search-fields/)
- [

[2021-05-04 15:27] bdlukaa opened #63 "Add input cursors"
**Description**
Currently the inputs we have (PushButtons, Checkbox, RadioButton, HelpButton) doesn't change the mouse cursor on hover.

**Expected behavior**
The mouse cursor should change to `SystemMouseCursors.click`. This can be done using the widget `MouseRegion`.

[2021-05-06 14:28] bdlukaa opened #64 "Implement tooltip"
https://developer.apple.com/design/human-interface-guidelines/macos/user-interaction/help#help-tags-tooltips

Help tags, often referred to as tooltips, succinctly describe how to use controls without shifting people’s focus away from the primary interface. Help tags appear when the user positions the pointer over a control for a few seconds.

A help tag remains visible for 10 seconds, or until the

[2021-05-07 00:33] bdlukaa commented on #49
I'll reopen this because it's still reproducible when its size is changed.

[2021-05-09 19:25] GroovinChip opened #65 "Document ScaffoldScope"

[2021-05-09 19:26] GroovinChip opened #66 "Update README.md with new images/gifs of updated Scaffold"

[2021-05-09 21:37] GroovinChip commented on #64
Big Sur tooltip image:
![Screenshot_20210509-173709_Chrome.jpg](https://user-images.githubusercontent.com/4250470/117587720-4073ca00-b0ed-11eb-9e73-8d4a77b12a5a.jpg)

[2021-05-10 00:30] #63 closed

[2021-05-10 02:05] #64 closed

[2021-05-10 08:53] harshvsb1105 opened #69 "Implement GradientButton"
Implementing gradient button

[2021-05-10 17:30] bdlukaa opened #70 "`MacosTabView` & `MacosTab`"
https://developer.apple.com/design/human-interface-guidelines/macos/windows-and-views/tab-views/

A tab view presents multiple mutually exclusive panes of content in the same area. A tab view includes a tabbed control and a content area. Each segment of a tabbed control is known as a tab, and clicking a tab displays its corresponding pane in the content area. Although the amount of content can var

[2021-05-11 19:04] GroovinChip opened #73 "Add spacing between TextField and indicators in demo"

[2021-05-11 19:19] #66 closed

[2021-05-11 19:21] GroovinChip opened #74 "Adjust pana analysis action to abort if score is less than 120"

[2021-05-11 19:46] #74 closed

[2021-05-11 20:15] #73 closed, assigned to nobody

[2021-05-12 17:33] #65 closed

[2021-05-13 15:50] GroovinChip opened #79 "`MacosThemeData.light()` and `MacosThemeData.dark()` need `copyWith()`"

[2021-05-13 16:02] GroovinChip opened #80 "`Toolbar`"
<img width="309" alt="Screen Shot 2021-05-13 at 12 01 46 PM" src="https://user-images.githubusercontent.com/4250470/118152697-ff2c3480-b3e2-11eb-8dac-598d38727c5a.png">

<img width="284" alt="Screen Shot 2021-05-13 at 9 29 32 PM" src="https://user-images.githubusercontent.com/4250470/118207280-53aad080-b432-11eb-8ed7-39d9320527f3.png">

* A `TitleBar` should take a `List<Toolbar> toolbars`. A `Too

[2021-05-13 17:18] bdlukaa commented on #79
Theme properties should also not be nullable.

[2021-05-13 17:21] GroovinChip opened #81 "[Sidebar] Option to start at minWidth, maxWidth, or other"
Other - as long as it is in between min and max width

[2021-05-14 01:13] GroovinChip opened #82 "ClearButton overlay for TextField with maxLines set should align with the placeholder text"
**Steps To Reproduce**
[code]

**Expected behavior**
Clear button should be aligned with the placeholder text

**Screenshots**
<img width="325" alt="Screen Shot 2021-05-13 at 9 10 02 PM" src="https://user-images.githubusercontent.com/4250470/118206028-b8186080-b42f-11eb-8864-a7314d808024.png">

[2021-05-14 01:26] GroovinChip opened #83 "Sidebar Controls"
<img width="334" alt="Screen Shot 2021-05-13 at 9 26 04 PM" src="https://user-images.githubusercontent.com/4250470/118207082-e0a15a00-b431-11eb-94b6-855cf43ecce2.png">
<img width="372" alt="Screen Shot 2021-05-13 at 9 28 49 PM" src="https://user-images.githubusercontent.com/4250470/118207238-38d85c00-b432-11eb-85fa-522ff5c36934.png">

[2021-05-14 01:26] GroovinChip opened #84 "Navigation Bar"
<img width="510" alt="Screen Shot 2021-05-13 at 9 26 54 PM" src="https://user-images.githubusercontent.com/4250470/118207117-f1ea6680-b431-11eb-9657-265ed5f8da0c.png">

<img width="510" alt="Screen Shot 2021-05-13 at 9 28 21 PM" src="https://user-images.githubusercontent.com/4250470/118207210-278f4f80-b432-11eb-946e-23ba27c041da.png">

[2021-05-14 01:31] GroovinChip opened #85 "IconButton"
<img width="237" alt="Screen Shot 2021-05-13 at 9 31 12 PM" src="https://user-images.githubusercontent.com/4250470/118207383-8bb21380-b432-11eb-81de-a658d115bcfd.png">
<img width="237" alt="Screen Shot 2021-05-13 at 9 31 21 PM" src="https://user-images.githubusercontent.com/4250470/118207396-910f5e00-b432-11eb-8819-05b6be3c788c.png">

[2021-05-14 01:32] GroovinChip opened #86 "PulldownButton"
<img width="228" alt="Screen Shot 2021-05-13 at 9 32 03 PM" src="https://user-images.githubusercontent.com/4250470/118207440-a97f7880-b432-11eb-9ed9-c66854af8c76.png">
<img width="213" alt="Screen Shot 2021-05-13 at 9 32 12 PM" src="https://user-images.githubusercontent.com/4250470/118207448-af755980-b432-11eb-88ef-a6f4e3e1282f.png">

[2021-05-14 01:32] GroovinChip opened #87 "IconLabel"
<img width="65" alt="Screen Shot 2021-05-13 at 9 32 37 PM" src="https://user-images.githubusercontent.com/4250470/118207477-bf8d3900-b432-11eb-8a8a-13d85f4b8e32.png">
<img width="65" alt="Screen Shot 2021-05-13 at 9 32 54 PM" src="https://user-images.githubusercontent.com/4250470/118207485-c87e0a80-b432-11eb-973c-21f7004e57f6.png">

[2021-05-14 01:33] GroovinChip opened #88 "DatePicker, DateTimePicker"
<img width="378" alt="Screen Shot 2021-05-13 at 9 33 21 PM" src="https://user-images.githubusercontent.com/4250470/118207520-da5fad80-b432-11eb-993d-d5bd4ad0a8a2.png">
<img width="386" alt="Screen Shot 2021-05-13 at 9 33 50 PM" src="https://user-images.githubusercontent.com/4250470/118207544-e9def680-b432-11eb-8e39-2da760c1351f.png">

[2021-05-14 01:34] GroovinChip opened #89 "Menu"
<img width="931" alt="Screen Shot 2021-05-13 at 9 34 14 PM" src="https://user-images.githubusercontent.com/4250470/118207586-f8c5a900-b432-11eb-8e67-37ce787d44be.png">
<img width="931" alt="Screen Shot 2021-05-13 at 9 34 32 PM" src="https://user-images.githubusercontent.com/4250470/118207608-02e7a780-b433-11eb-98d7-f4779ce7eb00.png">

[2021-05-14 01:36] GroovinChip opened #90 "MacosIcons (?)"
There are some icons in the Figma kit that do not seem to be part of Flutter's `cupertino_icons` package.

We can either implement them as `MacosIcon`s, or PR them to `cupertino_icons`, or both.
<img width="917" alt="Screen Shot 2021-05-13 at 9 36 44 PM" src="https://user-images.githubusercontent.com/4250470/118207742-51954180-b433-11eb-8fcf-41521ccd0210.png">

https://www.figma.com/file/M6K5L3GK0

[2021-05-14 01:40] GroovinChip commented on #42
Closing in favor of #88

[2021-05-14 01:40] #42 closed

[2021-05-14 01:43] bdlukaa commented on #87
Maybe related to https://github.com/GroovinChip/macos_ui/issues/61 's label

[2021-05-14 01:45] bdlukaa commented on #90
I think Cupertino Icons is a complete set of icons. You can check all of them here: https://flutter.github.io/cupertino_icons/

[2021-05-14 21:33] #82 closed

[2021-05-14 22:21] #49 closed

[2021-05-14 22:22] bdlukaa commented on #49
It's now working:

![](https://user-images.githubusercontent.com/45696119/118336955-1f461b80-b4e9-11eb-969f-b6245d600a43.gif)

[2021-05-15 00:08] #87 closed

[2021-05-19 00:17] #79 closed

[2021-05-19 01:26] GroovinChip opened #97 "BackButton"
<img width="194" alt="Screen Shot 2021-05-18 at 9 25 57 PM" src="https://user-images.githubusercontent.com/4250470/118743092-ad8b0c00-b81f-11eb-8a3a-ec928d7ed6f9.png">

Goes on Titlebars, I think. @lesliearkorful

[2021-05-19 01:27] lesliearkorful commented on #97
Yeah it's in the UI design kit

[2021-05-19 01:34] GroovinChip commented on #97
Our Scaffold should imply a BackButton like the Material Scaffold does

[2021-05-19 22:10] bdlukaa opened #99 "Improve scrolling"
- [x] Implement `Scrollbar`, and expose `ScrollbarThemeData` to `MacosThemeData`
- [x] Implement `MacosScrollBehavior`

[2021-05-20 13:59] GroovinChip opened #100 "Migrate package to Dart 2.13"

[2021-05-20 15:54] #100 closed

[2021-05-20 15:59] GroovinChip opened #101 "Goal: Become a Flutter Favorite package"
https://flutter.dev/docs/development/packages-and-plugins/favorites#metrics

Per requirements, can only happen once we reach a full stable release with feature completeness.

[2021-05-20 16:35] GroovinChip commented on #97
<img width="194" alt="Screen Shot 2021-05-20 at 12 35 31 PM" src="https://user-images.githubusercontent.com/4250470/119016411-e6ce9380-b967-11eb-855b-1d56ca2e1930.png">

Back button when being pressed

[2021-05-20 16:41] GroovinChip commented on #97
<img width="194" alt="Screen Shot 2021-05-20 at 12 41 12 PM" src="https://user-images.githubusercontent.com/4250470/119017163-b5a29300-b968-11eb-8d04-5c352658c54e.png">

Being pressed in light mode

[2021-05-20 16:59] GroovinChip commented on #97
First pass at this has been completed. More work to be done. Follow progress in https://github.com/GroovinChip/macos_ui/tree/back_button

[2021-05-21 00:15] GroovinChip commented on #85
There are four variants of `IconButton`:
1. No background
2. Rounded light grey background
3. Colored circle background
4. Grey circle background

[2021-05-21 00:27] bdlukaa commented on #97
I guess this is a duplicate of #85, since the backbutton is just an icon button with a function that returns to the previous screen

[2021-05-21 00:36] GroovinChip commented on #85
I was incorrect, there are 2 variants:
1. No background
2. Background

[2021-05-21 00:37] GroovinChip commented on #97
Nah, BackButton is a dedicated widget because it has a default action and also has a different spec

[2021-05-22 16:27] GroovinChip opened #103 "Add VisualDensity to MacosThemeData"

[2021-05-22 16:28] GroovinChip opened #104 "Actually return localizations in MaterialApp"
We define the as properties but they aren't returned.

[2021-05-22 22:51] #81 closed

[2021-05-22 23:03] lesliearkorful opened #107 "Renaming widgets with "macos" prefix"
All our widget names should start with Mac. eg `MacScaffold`.
This is to prevent name conflicts with existing widgets in the flutter framework and preserve the great developer experience Flutter already has. No dev (yes, including us) dreams of importing our library with a prefix or in every file of their project.

[2021-05-22 23:23] GroovinChip opened #108 "`MacosIconButton` needs a few updates"
- [x] Since the `color` property for our `IconButton` sets the background color of the button, if the user selects a transparent background they should be able to set the color of the `IconData` themselves
- [x] `MacosIconButtonThemeData`

[2021-05-22 23:32] #99 closed

[2021-05-23 00:01] #85 closed

[2021-05-23 00:01] #97 closed

[2021-05-23 00:01] #103 closed

[2021-05-23 00:01] #104 closed

[2021-05-23 09:51] GroovinChip commented on #107
I think we should use the `Macos` prefix instead of `Mac`, to keep in line with `MacosApp`, `MacosTheme`, and `MacosThemeData`. And the package name, of course.

[2021-05-24 14:57] lesliearkorful commented on #107
Right. I've corrected the title.

[2021-05-26 11:44] GroovinChip opened #115 "Add `canvasColor` to `MacosThemeData`"
Apply it to `Scaffold`

[2021-05-26 11:48] #115 closed

[2021-05-26 12:27] GroovinChip commented on #108
https://user-images.githubusercontent.com/4250470/119659606-51fee680-bdfc-11eb-952e-79ab4b918a79.mov

Not really a fan of this TBH. Maybe we should just leave mouse pointers and either not deal with hover color change or just leave it up to the developer

[2021-05-26 12:38] GroovinChip commented on #107
Reminder that only widgets with overlapping names get the `Macos` prefix. I'll be working on this now.

[2021-05-26 15:17] GroovinChip commented on #89
See https://gitlab.com/TheOneWithTheBraid/contextmenu/-/tree/main/lib/src for how to make this. Demo here https://theonewiththebraid.gitlab.io/contextmenu/#/

[2021-05-26 20:42] #107 closed

[2021-05-27 23:07] #28 closed

[2021-05-31 21:53] vietz-dev commented on #89
Hey I'd like to try to implement this feature if help is still needed :)

However, duo to university stuff I can not promise keeping a deadline 😄

[2021-05-31 22:36] GroovinChip commented on #89
Absolutely, please go for it!

[2021-06-01 07:00] vietz-dev commented on #89
Is there a good exemplary application from which I should copy the macos design and feel?

I am kinda new to macos thus I don't really know where to find certain elements :)

Thank you!

[2021-06-01 11:42] lesliearkorful commented on #89
@kiesman99 https://www.figma.com/file/M6K5L3GK0WJh6pnsASyVeE/macOS-Big-Sur-UI-Kit?node-id=26%3A5

[2021-06-01 16:14] GroovinChip commented on #89
@kiesman99 I know its difficult for you to get a sense of your timeline because of school, but do you think you have a rough idea of when you think you can deliver this? Just so we know when to look out for it?

[2021-06-01 19:25] #83 closed

[2021-06-01 19:46] vietz-dev commented on #89
@GroovinChip I'm playing a little with the api today to get a feel for it. I will respond after I've checked it out :)

[2021-06-01 19:46] GroovinChip commented on #89
Sounds great, thank you!

[2021-06-01 20:21] vietz-dev commented on #89
Hey @GroovinChip quick question:

The snippet you provided uses [showModal](https://gitlab.com/TheOneWithTheBraid/contextmenu/-/blob/main/lib/src/ContextMenuArea.dart#L9) which is a function coming from the [animations](https://pub.dev/documentation/animations/latest/animations/showModal.html) package.

Is it okay to depend on this library or should I try to implement this feature using [OverlayEn

[2021-06-01 20:22] GroovinChip commented on #89
I'd say let's try our own implementation, the less we depend on outside libraries the better.

[2021-06-01 20:38] GroovinChip commented on #89
Looks like this is actually a duplicate of #53 but I'll keep this open since more movement is happening here

[2021-06-01 20:40] GroovinChip commented on #53
Closing in favor of #89 since more is happening there

[2021-06-01 20:40] #53 closed

[2021-06-01 22:27] vietz-dev commented on #89
Hey I've wanted to give a quick summary on what I've done today.

I've played around with the OverlayEntry and accomplished a rather basic Version of the contextmenu as you can see here:

![context_menu_sample](https://user-images.githubusercontent.com/17956096/120397278-4fd6e380-c338-11eb-9031-75b3708c90c2.gif)

Currently, I get an exception if remove the Overlay on exiting the region this has to

[2021-06-01 22:29] vietz-dev commented on #89
Regarding the 'deadline': I will try to implement this feature in the upcoming two weeks I think.

[2021-06-01 22:29] GroovinChip commented on #89
Wow @kiesman99 this is amazing work, thank you! Maybe we can ask around the Flutter community for some ideas. I'd say you should keep going, this is really great!

[2021-06-01 22:37] GroovinChip commented on #89
I tweeted this issue out [here](https://twitter.com/GroovinChip/status/1399857442616401924?s=19)

[2021-06-01 22:47] vietz-dev commented on #89
Thanks @GroovinChip!

I've created a WIP PR #125.

I am very excited if we could accomplish to place the context menu outside the flutter application. I'll keep an eye on that tweet :)

[2021-06-01 23:06] bdlukaa commented on #89
See https://github.com/flutter/flutter/issues/30701 for more info on this

[2021-06-01 23:19] bdlukaa commented on #89
@kiesman99 While you can't render anything outside of the window (for security reasons), you can add something like a "padding" to make it fit the window.

When implementing tooltip, I found a method on the framework that does exactly that. It tries to position the child on the required offset, but if not possible, it handles that for you.

https://github.com/GroovinChip/macos_ui/blob/dev/lib/src/

[2021-06-01 23:25] vietz-dev commented on #89
@bdlukaa i will look into this :)

My plan is to move the context menu to the left side if the user clicks somewhere near the right border but that wouldn't solve the issue of too small windows.

I think this is especially crucial, because context menus are limited in height and therefore in the number of elements. Also this is a red light to distinguish a flutter Mac_OS app from a native MacOS ap

[2021-06-01 23:39] bdlukaa commented on #89
We can do a few things to solve this:

- Set a min size to the window ([bitsdojo_window](https://pub.dev/packages/bitsdojo_window))
- If the menu is too small for its content, a `ScrollView` (`SingleChildScrollView` or `ListView`) can be added to the menu (with(out) a scrollbar)

[2021-06-03 10:53] vietz-dev commented on #89
I think for now I'll go with the `ScrollView` or similar to solve the shrink issue.

Yesterday I've implemented a basic version of a `ChangeNotifier` that should keep track of all open ContextMenus.

___

How do we want to design the api? Do you want to provide a Widget in which the `ContextMenu` can be invoked

[code]
The `ContextMenuArea` handles the right clicks on the `Child()`.

Or do we want

[2021-06-03 12:50] GroovinChip commented on #89
I personally am in favor of the second approach, the show function.

[2021-06-03 12:51] bdlukaa commented on #89
I don't think the `showDialog` approach will work with this. The current design seems good for me

[2021-06-03 12:57] vietz-dev commented on #89
@bdlukaa I am not certain, because I could not yet test this approach, but I think it would work as Overlay is already imperative ([see](https://api.flutter.dev/flutter/widgets/OverlayState/insert.html)) and the Overlay is provided in the Navigator. Thus i can use the Overlay provided by the `Navigator` to inject context menus.

But I think this is a design decision. I think solving this with Widg

[2021-06-03 13:03] vietz-dev commented on #89
The `show` method could be a bit more intuitive, because all flutter material overlays use this approach.

[2021-06-03 13:05] GroovinChip commented on #89
I vote for the show method

[2021-06-03 13:39] bdlukaa commented on #89
Tooltip doesn't.

---

The thing is that implementing the following would be harder with the `show` method:

![Sorry for bad quality](https://user-images.githubusercontent.com/45696119/120653930-8c4d3100-c457-11eb-858b-03a48172f3e5.gif)

[2021-06-03 14:13] GroovinChip commented on #89
This may be of some interest: https://matejknopp.com/post/introducing-nativeshell/?s=09

[2021-06-03 14:27] vietz-dev commented on #89
@GroovinChip That's awesome!
Unfortunately I think requiring *NativeShell* for Macos would be cumbersome for many people and hinder them using this awesome library.

As more and more big companies (canonical for example) are adopting flutter I could imagine this kind of feature could be implemented by them **native** into flutter.

As cool as this embedder extension is I think we should keep the c

[2021-06-03 14:35] vietz-dev commented on #89
@bdlukaa you're right. Tooltip [abstracts](https://github.com/flutter/flutter/blob/02c026b03c/packages/flutter/lib/src/material/tooltip.dart#L404) the usage of Overlay.
Isn't this a special case as tooltips can be applied to a multitude of widgets, thus having this kind of overlay as an attribute is very convenient.

As for the gif you showed:
What would stop you from using the `show` method from

[2021-06-03 14:48] bdlukaa commented on #89
Nothing, but there should be a widget that abstracts and implements that.

![](https://developer.apple.com/design/human-interface-guidelines/macos/images/Toolbars_SystemControls.png)

[2021-06-03 15:05] vietz-dev commented on #89
A more specific element such as Toolbars or these ActionButtons should abstract the usage of `showContextMenu` and we can do that.

A general "I want to right click something and get a context menu" would be easier using a `show` method. Further abstraction is still possible for specific use cases. The question here is "which elements should get abstracted" IMO.

Also in this PR I'd solely focus o

[2021-06-03 16:45] GroovinChip opened #127 "MacosListTile💡"
## Proposal

A widget much like the material `ListTile` only without the material bits. Such a widget is often quite useful.

[2021-06-04 22:57] GroovinChip commented on #89
I think this is a good idea @kiesman99

[2021-06-05 18:43] GroovinChip commented on #60
This branch has gotten really stale so I'm going to remove it.

[2021-06-05 20:18] GroovinChip commented on #60
<img width="1065" alt="Screen Shot 2021-06-05 at 4 18 03 PM" src="https://user-images.githubusercontent.com/4250470/120904317-9b7bdc80-c619-11eb-88ff-10dc04a421cb.png">

Here's my new work so far. I started without messing with show/hide, just working on the widget. The border is simply so I can see where it starts/ends

[2021-06-06 22:03] vietz-dev commented on #89
Hey there :)

Quick update! Unfortunately I couldn't do much, but there is still some progress.

I've implemented a rudimentary `showContextMenu` which can be used to initiate a context menu. This function however is **not** used to show the submenus. Instead, there is a `ContextMenuNotifier` which deals with the logic internally an.
Here a quick sample:

![progress](https://user-images.githubuser

[2021-06-06 22:49] GroovinChip commented on #89
Excellent! And how does the menu behave when opened near a window boundary?

[2021-06-07 12:26] ABausG opened #130 "💡 Sidebar Footer Item"
## Use case

It would be nice to be able to provide a footer Widget to the Sidebar of a `MacOSScaffold`.
One example that uses that is the MacApp Store where there is a Profile Summary at the bottom of the sidebar.
Another example is the Apple Calendar App where there is a Month View at the Bottom of the Sidebar

Footer in Mac App Store
<img width="335" alt="Screenshot 2021-06-07 at 14 19 59" src=

[2021-06-07 12:29] GroovinChip commented on #130
@bdlukaa what do you think? This is definitely a valid use case.

[2021-06-07 14:24] GroovinChip commented on #130
FWIW @ABausG I think this is a good feature to add. I see you've already forked the repo - thank you so much for filing this and for taking the initiative to implement the feature!

[2021-06-07 17:01] GroovinChip opened #133 "AlertDialog should optionally show the "Don't ask again" checkbox and text"
<img width="405" alt="Screen Shot 2021-06-07 at 1 01 32 PM" src="https://user-images.githubusercontent.com/4250470/121060319-7e1d4e80-c790-11eb-9ae9-597d07571340.png">

[2021-06-07 17:58] GroovinChip commented on #53
Closing in favor of #89

[2021-06-07 19:01] #130 closed

[2021-06-07 19:05] #60 closed

[2021-06-09 23:17] #133 closed

[2021-06-11 09:19] wilsonowilson opened #137 "🐛 Dialogs should not have a maximum height"
**Description**

At the moment, Alert Dialogs have a maximum height of 300px. That isn't large enough for longer content. The dialog even overflows in the example.

<img width="438" alt="Screenshot 2021-06-11 at 10 11 37" src="https://user-images.githubusercontent.com/63465656/121662567-69e19600-ca9d-11eb-8b9c-244204194114.png">

As far as I know, NSAlert doesn't have a maximum height. That should

[2021-06-11 09:42] wilsonowilson opened #139 "🐛 Cursors use `SystemMouseCursors.click` instead of `SystemMouseCursors.basic`"
**Description**

Clickable macOS components do not use the "click cursor". They have always used the default cursor. This forms a distinction between using the web on macOS and interacting with macOS applications.

So by default, clickable elements in macos_ui should use `SystemMouseCursors.basic` instead of `SystemMouseCursors.click`. I also believe an option should be provided to customize that.

[2021-06-11 12:55] bdlukaa commented on #139
You can wrap the widget you want in a `MouseRegion` to add a mouse cursor.
[code]

[2021-06-11 16:18] wilsonowilson commented on #139
Yes I'm aware of that, but that's not what I'm talking about.

This is a snippet from `back_button.dart`.
[code]
 I'm saying that the in-built widgets shouldn't use `SystemMouseCursors.click` by default.

[2021-06-12 21:01] #137 closed

[2021-06-13 06:58] d1y opened #141 "💡 feat: add mac window Traffic Lights widget"
flutter desktop  Custom window widget. like macos Mac OS X Traffic Lights
https://codepen.io/atdrago/pen/yezrBR

I wrote a small demo, can you accept the PR function?

https://github.com/d1y/macwindowctl

thank you

[2021-06-13 07:04] d1y commented on #141
It seems that the author has realized:)

[2021-06-13 07:04] #141 closed

[2021-06-17 04:32] maheshj01 commented on #89
I believe the position of the context menu should be altered when opening near the window boundaries.
e.g opening a context menu on the rightmost bottom should be moved left (with a minimum width offset of context Menu) and up with (a minimum height offset of context Menu). Similarly considering this in all 4 directions. I believe this will solve for not having to deal with [multiple window suppor

[2021-06-18 18:09] GroovinChip commented on #89
@kiesman99 Do you have any further updates to share?

[2021-06-18 18:49] bdlukaa opened #142 "💡 `MacosStateProperty`"
## Use case

On the material library, we can customize the way a widget looks at every state: disabled, pressing, hovering and focused. That's possible because of `MaterialStateProperty<T>`. We should have one as well.

## Proposal

Create `MacosStateProperty<T>`, a class that will handle how widgets should look like at every state.

Here's a little example of how it should look like:

[code]

[2021-06-18 18:49] bdlukaa commented on #139
Will be fixed alongside https://github.com/GroovinChip/macos_ui/issues/142

[2021-06-18 18:50] bdlukaa commented on #142
I can make a PR for this tomorrow

[2021-06-18 19:34] wilsonowilson commented on #139
The pull request doesn't address what I'm talking about. @GroovinChip might explain better.

[2021-06-18 19:35] GroovinChip commented on #139
Wasn't it that mouse cursors should never be pointers? Material State Props can help us ensure that, right? Along with making it customizable?

[2021-06-18 19:39] wilsonowilson commented on #139
It can ensure customisation yes, but it doesn't directly relate to the issue. I can open a separate PR once #142 is merged.

And I'm not sure we'd want to use `MacosStateProperty` on cursors. I haven't seen that usage even in the material buttons.

[2021-06-18 19:41] GroovinChip commented on #139
Fair enough

[2021-06-22 01:04] bdlukaa commented on #142
I realized this is useless. Widgets such as `PushButton`, `BackButton` and `IconButton` handle their colors internally (for pressing/hovering). The other inputs (checkbox, radio button, switch) doesn't change the color on mouse hover/press.

[2021-06-22 01:04] #142 closed

[2021-06-22 01:16] bdlukaa commented on #139
I have some ideas for this. We can have a `MouseCursor` property in the `MacosThemeData` class, and all the inputs will use it.

By default, on macOS and iOS, the cursor used will be `MouseCursor.defer`. On the other platforms, `SystemMouseCursors.click` shall be used. Something like:

[code]

[2021-06-22 06:25] wilsonowilson commented on #139
That sounds great!

[2021-06-23 08:06] vietz-dev commented on #89
Hey @GroovinChip, I am very sorry for not responding.

Unfortunately, a few of my exams were brought forward. Therefore, I have shifted the focus a little.

I have made a few minor changes and would start there again when the exams are over.
If you prefer, I can also do a first working version, which I'll tweak a bit afterwards.

[2021-06-23 11:51] GroovinChip commented on #89
No worries @kiesman99 thanks for the update. We can wait till your exams are over.

[2021-07-10 15:24] vasilich6107 opened #147 "💡 Input validation for forms and fields"
## Use case
I'm writing https://pub.dev/packages/reactive_macos_ui to adopt inputs for using with `reactive_forms`
Do you have any plans on implementing some kind of validation messages?

[2021-07-11 14:56] GroovinChip opened #148 "MacosApp builder never gets used 🐛"
**Description**

Thanks to @imtoori for discovering this bug.

Compare https://github.com/flutter/flutter/blob/master/packages/flutter/lib/src/material/app.dart#L804 to https://github.com/GroovinChip/macos_ui/blob/dev/lib/src/macos_app.dart#L335 and you can see that we do not user the builder.

[2021-07-11 15:04] GroovinChip commented on #148
I've written the following fix:

[code]

When I change our example app to return the `Demo()` in the builder rather than as the home, like so:

[code]

I get the following error:
[code]

@bdlukaa you wrote the tooltip widget, do you have any insight on why using the builder would mean there is no Overlay?

[2021-07-11 15:21] bdlukaa commented on #148
So, the `builder` method is to build something above `Navigator` and below `MediaQuery` in the tree, such as `ScrollConfiguration`, so that it applies to all the routes. The `Overlay` widget is added to the tree by the `Navigator` widget, but since it's not available in the `Demo`'s context, the error is thrown.

[2021-07-11 15:27] GroovinChip commented on #148
So any widget built in the `builder` needs to have its own `Navigator` and `Overlay`?

EDIT: Here's the solution:
[code]

[2021-07-11 17:00] #148 closed

[2021-07-11 18:02] bdlukaa commented on #148
I don't think it's a good solution. The `builder` callback shouldn't be to add the home page, that's why there's the `home`, `initialRoute` and `routes` property. The `builder` callback should be to set things above all the routes (such as a `ScrollConfiguration` or a custom `MacosTheme`), not to generate the route.

There shouldn't be an `Overlay` widget on the build method because it is already

[2021-07-11 18:07] GroovinChip commented on #148
Yeah I only returned the Demo in the builder to quickly see if it  the builder would work.

[2021-07-12 13:59] GroovinChip opened #150 "`MacosScaffold` should not add a `SizedBox` to the top of `Sidebar` 🐛"
**Description**

Currently, `MacosScaffold` builds a `SizedBox(height: titleBarHeight - 1),` and adds it to the top of the sidebar. It results in undesired behavior. See the following screenshot:

![Screen Shot 2021-07-12 at 9 57 20 AM](https://user-images.githubusercontent.com/4250470/125299899-8fa9c700-e2f7-11eb-9c14-083a68b8a340.png)

**Steps To Reproduce**

1. Create a new Flutter project and

[2021-07-12 14:00] GroovinChip commented on #150
@lesliearkorful What's the rationale for having this `SizedBox` at the top of the `Sidebar`?

[2021-07-12 14:16] lesliearkorful commented on #150
It's the top padding (or safe area) for sidebars when the native title bar is hidden or transparent.
That top padding is equal to the height of the title bar in macos

You're seeing it like this because your app is showing the native macos title bar.

I guess we'll need a property to add or remove the top padding for the side bar.

I attached a screenshot of the Apple music app
![image](https://us

[2021-07-12 14:29] GroovinChip commented on #150
It happens in projects where I hide the native titlebar as well:
![Screen Shot 2021-07-12 at 10 29 10 AM](https://user-images.githubusercontent.com/4250470/125304967-00eb7900-e2fc-11eb-9697-bc76026e4623.png)

[2021-07-12 19:20] GroovinChip commented on #89
@kiesman99 any news on this? Are your exams over?

[2021-07-13 13:12] GroovinChip opened #151 "`MacosScaffold` does not show more than one `ResizablePane` 🐛"
**Description**

`MacosScaffold` is supposed to support having more than one `ResizablePane`. While no errors are thrown, only one pane actually gets shown.

**Steps To Reproduce**

1. Create a new Flutter application and add `macos_ui` to `pubspec.yaml`
2. Replace the contents of `main.dart` with the following:

[code]

**Expected behavior**

There should be two `ResizablePane`s shown on screen

[2021-07-13 18:55] GroovinChip opened #152 "PushButtonThemeData has some incorrect documentation 📖"
https://github.com/GroovinChip/macos_ui/blob/dev/lib/src/buttons/push_button.dart#L362 not a tooltip

https://github.com/GroovinChip/macos_ui/blob/dev/lib/src/buttons/push_button.dart#L340 no style property

[2021-08-03 13:28] GroovinChip commented on #89
@kiesman99 any movement on this?

[2021-08-03 13:31] GroovinChip commented on #147
Not at the moment but surely you can wrap a `MacosTextField` with a `FormField`, right?

[2021-09-03 13:17] GroovinChip commented on #152
Fixed

[2021-09-03 13:17] #152 closed

[2021-09-03 13:31] GroovinChip commented on #69
Not part of the Big Sur kit

[2021-09-03 13:31] #69 closed

[2021-09-08 09:16] vietz-dev commented on #89
Hey @GroovinChip, I am very sorry for not responding for a while. Duo to private matter and the exams I hadn't had the time for social media. This semester was way more stressful than the other ones and I underestimated it.
Now my exams are done and I will focus again on the menu implementation.

[2021-09-08 13:45] GroovinChip commented on #89
Excellent, I'm glad to hear it!

[2021-09-10 07:22] vumanhsn97 opened #154 "Drag scrolling is disabled after upgrading to Flutter 2.5"
**Description**

Create new scroll behavior to migrate flutter 2.5 [https://flutter.dev/docs/release/breaking-changes/default-scroll-behavior-drag](https://flutter.dev/docs/release/breaking-changes/default-scroll-behavior-drag)

MacosApp widget does not apply new custom scroll behavior
` MacosApp(
              scrollBehavior: MyCustomScrollBehavior(),`

[2021-09-10 13:07] GroovinChip commented on #154
@vumanhsn97 do you have a gif or something that you can provide that demonstrates the bug?

[2021-09-10 13:14] GroovinChip commented on #154
Upon cursory inspection it appears that our `MacosScrollBehavior` is not overriding the new `dragDevices` getter. This should be trivial to update, but I would still like to see a gif of the bug before I do please.

[2021-09-11 02:56] vumanhsn97 commented on #154
When you upgrade to flutter 2.5, MacosApp can't able using mouse to scroll a listview. It is only working with scroll wheel [https://streamable.com/6prtrc](https://streamable.com/6prtrc)

Everything is working well with flutter 2.2

[2021-09-13 14:25] GroovinChip commented on #154
Thank you for providing more detail. This does indeed seem to me to be related to overriding the new `dragDetails` getter in Flutter 2.5. However, I'm not convinced that drag scrolling should be allowed with `macos_ui`, given that it is a desktop framework. I will give it some thought.

[2021-09-13 18:34] GroovinChip commented on #154
https://twitter.com/groovinchip/status/1437422926580572160?s=21

[2021-09-14 13:46] GroovinChip commented on #154
@vumanhsn97 I will not be implementing drag scrolling for `macos_ui`. If you require it, please feel free to fork the package and add it via the `MacosScrollBehavior` class.

[2021-09-14 13:46] #154 closed

[2021-09-17 15:35] GroovinChip commented on #89
CC @lesnitsky

[2021-09-22 14:37] GroovinChip opened #155 "No MacosWindowScope found in content 🐛"
**Description**

When manually toggling the sidebar using `MacosWindowScope.of(context).toggleSidebar()`, I get the following error:

[code]

**Steps To Reproduce**

1. Clone and run the [macosui_counter](https://github.com/GroovinChip/macosui_counter) example
2. Click on the 'toggle sidebar' icon button
3. Observe the error

**Expected behavior**

The sidebar should appear/disappear on button cli

[2021-09-22 14:38] GroovinChip commented on #155
@lesliearkorful can you take a look at this please

[2021-09-22 14:47] GroovinChip commented on #155
per @lesliearkorful , I wrapped `MacosScaffold` in a `Builder` and this does the trick. The docs should be updated to mention that this is required.

[2021-09-22 15:21] GroovinChip commented on #155
Resolved

[2021-09-22 15:21] #155 closed

[2021-09-23 23:52] vietz-dev commented on #89
Hey @GroovinChip I think you can start to review #125.

In the next days I am going to implement adapting the system design, which is the last missing part.

This version does **not** include submenus, because I've done a whole re-write of my first implementation, taking some inspiration on the [PopupMenuButton](https://github.com/flutter/flutter/blob/ffb2ecea52/packages/flutter/lib/src/material/p

[2021-09-23 23:53] GroovinChip commented on #89
Sure, that's fine. Thanks for your hard work! I will review in the near future, likely either tomorrow or next week.

Edit: cc @lesnitsky

[2021-09-24 00:28] lesnitsky commented on #89
hey all
awesome work here!
I've published [native_context_menu](https://github.com/lesnitsky/native_context_menu) recently

I was looking into context menu implementations in flutter repo and chose a native approach for a couple of reasons, the main was native styling. As good as flutter is in rendering part it's still hard to make things look _exactly_ like native. Imo context menu is one of the

[2021-09-24 00:35] GroovinChip commented on #89
@kiesman99 what do you think about collaborating with @lesnitsky about folding his native implementation into macos_ui? I think it could be a good approach. I know you've worked super hard on this, and I don't want your work to go to waste, so I think a collaboration between the two of you is a good middle ground. We'd get native behavior and you'd still get to work on this issue.

[2021-09-24 15:04] GroovinChip opened #156 "Improvements to `MacosRadioButton`"
Currently `MacosRadioButton` does not support generics. It only supports boolean values - checked or unchecked. Compare this to the `Radio` widget found in the material library, however, and you will find that it supports generic types for the value. See the following example:

[code]

This is what we should aim for with MacosRadioButton, which we currently cannot do.

[2021-09-25 20:32] vietz-dev commented on #89
@GroovinChip, @lesnitsky I see the benefits of using a native approach and it would be totally fine, if we'd decide to take @lesnitsky's implementation.

I like that the native approach feels on spot, because it is native and we are able to have a context menu that has an offset to the actual flutter window. One drawback that I can see however is *custom items*.

For example in the finder app we c

[2021-09-25 20:37] vietz-dev commented on #89
With a flutter *non-native* implementation the context menu will always be bound by the flutter window size, but it's possible to implement custom items.

There is the `ContextMenuEntry<T>` class which can be used to implement custom tiles with custom behaviour:

[code]

which will result in:

![Screenshot 2021-09-25 at 22 36 59](https://user-images.githubusercontent.com/17956096/134785412-152235c

[2021-09-25 20:41] vietz-dev commented on #89
However, clicking near the edge of the flutter window will place the context menu to the inner side of the  `ContextMenuArea`.

![Screenshot 2021-09-25 at 22 38 42](https://user-images.githubusercontent.com/17956096/134785491-c479c305-6b47-4aac-a275-7dc26855ada1.png)

As I've said I can see positive and negative points in both approaches and thus it would be totally fine if we decide against my im

[2021-09-25 20:55] GroovinChip commented on #89
That's a really interesting drawback. @lesnitsky do you think custom items like those tags @kiesman99 showed is possible to achieve with a native implementation?

[2021-09-25 21:23] bdlukaa commented on #89
I don't like the idea of a native implementation. It's not how Flutter works. If you want native, use react native or something like that.

[2021-09-25 21:28] GroovinChip commented on #89
@lesnitsky does your native approach overflow over the edge of a Flutter window?

[2021-09-25 22:43] vietz-dev commented on #89
I've worked a bit on the proportions of the context-menu, the brightness adaptability and the blur of the context menu in dark mode.

## Darkmode version:

| Context Menu | Without |
| --- | --- |
| <img width="912" alt="image" src="https://user-images.githubusercontent.com/17956096/134787602-80d78963-3939-462c-857b-c8368e73bdb3.png"> | <img width="912" alt="image" src="https://user-images.githubu

[2021-09-25 22:46] GroovinChip commented on #89
Looking good @kiesman99! I appreciate your hard work despite the prospect of moving to native!

[2021-09-25 22:51] vietz-dev commented on #89
Thanks @GroovinChip :)

[2021-09-27 09:52] lesnitsky commented on #89
I don't see any problems with providing a way to build custom items in dart and forwarding those to native (lesnitsky/native_context_menu#3)

---

It does
Personally, I'm ok with this behavior (works same way in most, if not all, apps). Positioning could be tuned (lesnitsky/native_context_menu#4)

---

That's a matter of opinion. Native views and ability to communicate with native is in flutter fo

[2021-09-27 13:34] GroovinChip commented on #89
@lesnitsky I'm glad to hear that the native approach overflows the window, that was one of my concerns about the non-native approach. I'm also glad to hear that you don't see any problem with doing custom menu options.

I think I personally would say that the native approach is the desired one. Here's what I think we should do: @lesnitsky and @kiesman99 should work on porting over the native appro

[2021-09-28 06:31] vietz-dev commented on #89
Hey @lesliearkorful thank you very much!

I think it could be very interesting to build such a bridge to create custom native menus in MacOS/Windows/Linux, however i have no idea how to implement such a feature. Just to please my interest in this topic, do you have some references in which someone does something similar like this?

I think your implementation is very cool, and I am looking forward

[2021-09-28 06:36] vietz-dev commented on #89
@lesliearkorful are there some links you could share on this topic? Would be very nice to follow the flutter team and what they are doing 😄

___

@GroovinChip, @lesliearkorful, @bdlukaa Do you guys think people outside this project would benefit from a more abstract version of my implementation? I could extract everything, build a package and publish it on pub.dev.

[2021-09-28 08:51] bdlukaa commented on #89
You can see this on the PopupMenuButton. There is one for iOS as well, but I don't remember the name.

It's all up to you. I personally don't think it's necessary

[2021-09-28 09:21] lesnitsky commented on #89
@kiesman99 I believe you tagged @lesliearkorful by mistake, sorry @lesliearkorful if that was spammy, but feel free to jump in 😄

No references really, I haven't done any research yet, I'm judging by what I see in desktop apps. If finder could add those menu items with tags – it's doable. Maybe some menu items will be platform specific, not sure. Just to clarify – I didn't mean you could render th

[2021-09-28 13:44] GroovinChip commented on #89
* @lesnitsky I have not seen those PR's, very interesting
* @kiesman99 I'm not worried about replicating the UI, with the platform channel approach we will be able to do so and the user will not be writing any native code, only Flutter code

[2021-10-03 16:40] GroovinChip commented on #89
@lesnitsky and  @kiesman99 have you guys been working on this?

[2021-10-03 17:00] lesnitsky commented on #89
it's not really clear what kind of effort is required from me. something specific to be done?

[2021-10-03 17:06] GroovinChip commented on #89
I thought you guys would coordinate the effort together. At this point I'd say just go ahead and start porting, if you want.

[2021-10-06 15:48] #156 closed

[2021-10-11 21:26] vietz-dev commented on #89
@lesnitsky Can I support you designing your approach or do you think it would be better if you just implement it by yourself and afterwards we compare both implementations?

BTW Sorry @lesliearkorful for tagging you 😅 and thanks @lesnitsky for correcting me!

[2021-10-12 08:18] lesnitsky commented on #89
I'm not sure what's my role here :)
If you could describe what are the goals and why this 👇 is not enough – that'd be helpful.

`pubspec.yaml`
[code]
`macos_ui.dart`
[code]

[2021-10-12 19:59] GroovinChip commented on #89
The reason I don't want to do this is because then I am relying on an external dependency. I would rather have your code directly integrated into `macos_ui`.

[2021-10-12 20:21] lesnitsky commented on #89
then feel free to copy native code over to your repo.
no free bug-fixes and features though 😉

[2021-10-13 01:31] GroovinChip commented on #89
I think what I will do is import it as a dependency play around with it that way, while also forking the package so I can manually integrate it if the need arises.

[2021-10-13 01:55] GroovinChip commented on #89
Okay so I've set it up like this and it works really well! I think I'm going to keep this, @kiesman99, but thank you SO MUCH for your hard work! I really do appreciate it even though I didn't pick it in the end. If you'd like, I can add you as a contributor to the repo and you can pick something else to work on? Maybe something related to date/time pickers, or dropdowns? I can also add you to the

[2021-10-13 02:18] GroovinChip commented on #89
Ah crap. Doing it this way would lower my pub score!

[2021-10-13 13:46] GroovinChip opened #163 "Add test step to CI"

[2021-10-13 14:47] GroovinChip commented on #89
@kiesman99 don't forget to send me your email address so I can add you to the contributor Slack!

[2021-10-13 15:18] GroovinChip commented on #139
@wilsonowilson so to recap: we're saying that all mouse cursors should default to something like `MouseCursor.defer`, correct?

[2021-10-13 16:48] wilsonowilson commented on #139
@GroovinChip Yeah, although I'm not sure if we'd want to use `MouseCursor.defer` over `SystemMouseCursors.basic` because it defers the cursor handling to its children.

[2021-10-13 17:28] #108 closed

[2021-10-13 23:28] #90 closed

[2021-10-14 23:56] GroovinChip opened #166 "Add an IconTheme to MacosThemeData"
I think the material `IconTheme` would be best utilized here, since `Icon` widgets look for an `IconTheme`

[2021-10-15 10:41] whiplashoo opened #168 "💡 Add hover effects for MacosIconButtons and MacosBackButtons"
## Use case

Currently, when the user hovers over a `MacosIconButton` or similar, there is no visual feedback to show that the element is interactive. Previously, the cursor changed to a hand cursor, but this was changed in 0.9.2 to better match Apple guidelines.

## Proposal

Add a visual cue, like a drop shadow, to the `MacosIconButton` and `MacosBackButton`, when the user's mouse cursor hovers

[2021-10-15 14:07] vietz-dev commented on #168
I'd like to tackle this problem :)

However if you (@whiplashoo) are already onto this, I'd search for another issue of course.

[2021-10-15 20:37] whiplashoo commented on #168
@kiesman99 No problem, I haven't started working on this.

If it helps, to provide hover effects on other desktop widgets, I used something like this:

[code]

[2021-10-16 02:31] GroovinChip commented on #166
Sooo I tried this out, and it turns out that unless you explicitly set an `IconTheme` widget in your widget tree, `Icon` widgets do not find the theme. It is looking like I will need to build my own `MacosIcon` widget with corresponding theme classes :/

[2021-10-16 17:15] GroovinChip commented on #166
Closed by #169

[2021-10-16 17:15] #166 closed

[2021-11-11 14:54] peterscodee opened #170 "Remove scrollbar from ContentArea widget💡"
**Description**

As Flutter now enabled scrollbars for scrollable widgets by default it leads to weird behaviour if `macos_ui` forces another scrollbar with the `ContentArea` widget.
Weird behaviour includes duplicated scrollbars and error messages in the console.

**Expected behavior**

`ContentArea` should not show a scrollbar

**Screenshots**

<img width="52" alt="Screenshot 2021-11-11 at 15 51

[2021-11-15 10:38] whiplashoo commented on #168
@kiesman99 any luck? I might be close to building this on my version, so I can try to make a PR.

[2021-11-16 22:14] vietz-dev commented on #168
Hey @whiplashoo if you already have an implementation feel free to take on. Unfortunately I've hadn't had much time in the last few weeks.

[2022-01-05 06:13] cadenkriese opened #173 "💡 Implement transparency effects"
## Use case

Arguably, the most glaring difference between a flutter app with macos_ui and a native app is the lack of transparency/blurring on the sidebar and alert dialogs.

## Proposal

Implement transparency / frosted glass effects in relevant places.

For the window transparency, https://github.com/alexmercerind/flutter_acrylic can be used.

[2022-01-19 08:55] whiplashoo opened #176 "Pop-Up button 💡"
A [pop-up button](https://developer.apple.com/design/human-interface-guidelines/macos/buttons/pop-up-buttons/) (often referred to as a pop-up menu) is a type of button that, when clicked, displays a menu containing a list of mutually exclusive choices.

![image](https://user-images.githubusercontent.com/9117427/150096738-2b3f4593-4da1-47bd-8413-c63587840649.png)
![image](https://user-images.github

[2022-02-08 14:02] lenniezelk commented on #86
is this issue still available to be worked on? if so I'd be interested in picking this up

[2022-03-06 18:21] #173 closed

[2022-03-06 18:22] GroovinChip commented on #61
@bdlukaa do you intent to continue work on this?

[2022-03-06 18:23] GroovinChip commented on #70
@bdlukaa do you intend to continue working on this?

[2022-03-06 18:32] bdlukaa commented on #70
no

[2022-03-06 18:32] bdlukaa commented on #61
no

[2022-03-06 23:29] #168 closed

[2022-03-08 16:28] GroovinChip opened #179 "Remove dependency on `native_context_menu`"
After lengthy consideration I've decided to go back on my original decision to bundle `native_context_menu` along with `macos_ui`. It sets a precedent that is distasteful to me; where do I draw the line for what packages/plugins to bundle? Then `macos_ui` becomes dependent on these packages/plugins for updates. It is better not to bundle.

[2022-03-08 16:35] #179 closed

[2022-03-08 17:20] GroovinChip commented on #86
@lenniezelk yes, this is still available. Are you still interested in working on it?

[2022-03-09 10:27] erf opened #180 "Could MacosTheme be a type of ThemeData so i could use it in my MaterialApp ?💡"
## Use case

I'm building a macOS app using Flutter and i would like to use some the macOS theming but still use the regular classes for `MaterialApp` and `Scaffold`.

## Proposal

Could you just use the regular `ThemeData`. Why the need to create a `MacosTheme` class?

## Rant on cross platform packages

I appreciate the effort, but it seem like these cross platform packages they have limitations

[2022-03-09 17:27] GroovinChip commented on #180
Hi there.

Thanks for filing this issue. I understand your frustrations and agree that Flutter itself should offer theming and components that address platform specific styles for desktop.

If you'd like to use macOS theming with the `material` library, I suggest that you lift the style values from `macos_ui` and create your own `ThemeData` for use with regular `material` widgets.

[2022-03-09 17:27] #180 closed

[2022-03-12 19:34] mark-apn opened #181 "💡 Use SystemMouseCursors.click in _SitebarItem so the cursor is correct when hovering the SitebarItems"
## Use case

When adding a SiteBar like in the example, we don't get a .click mouse indicator. But just the basic. Currently this is not easily modifiable because you cannot wrap the SiteBarItems (the SiteBar expects SitebarItems as children).

## Proposal

Change the mouseCursor to SystemMouseCursors.click in site_bar.dart (line 277).

or alternatively

Expose the mouseCursor property

[2022-03-13 15:12] GroovinChip commented on #181
Hi @mark-apn, thanks for asking about this. Can you provide examples of macOS applications (preferably first party Apple applications) that use that kind of mouse cursor in their sidebars? My research indicated that Apple does not use it, which is why I use the generic mouse cursor for sidebar items.

[2022-03-14 07:37] mark-nicepants commented on #181
I understand where you're getting at, and I can respect that you want to stay as true to the native experience as you can get. And on that note I guess your right to not implement the `click` cursor as a default. I see that the App store doesn't use the click cursor anywhere, which is a shame in my opinion.

Would be awesome if we could at least expose the cursor property so that it can be overrid

[2022-03-14 14:40] GroovinChip commented on #181
I'll think about it. It's not an unreasonable request.

[2022-03-17 09:52] edwardaux opened #183 "🐛 Crash in PushButton when using custom theme data"
**Description**

I've been dabbling with using theming info and created a custom theme data using:
[code]

However, this causes a crash when I use a `PushButton` widget on this line: https://github.com/GroovinChip/macos_ui/blob/65b53fa7529d069f5227d3ae521ac7272d74ea34/lib/src/buttons/push_button.dart#L226

Now, I can see that if I provide a value for `secondaryColor` in `PushButtonThemeData` then

[2022-03-17 10:06] whiplashoo commented on #183
Yes, this has been discussed in a [previous PR](https://github.com/GroovinChip/macos_ui/pull/182#issuecomment-1066090880). It will be fixed soon!

[2022-03-17 10:09] edwardaux opened #184 "📖 Food for thought regarding the burred sidebar advice"
Prior to this project supporting the blurred sidebar, I had already implemented it in my own macos desktop app.  Like you I started with the suggestion from [this comment](https://github.com/flutter/flutter/issues/59969#issuecomment-764955247).

However, the source code that is in that comment really isn't the right way to do it. Mucking around with `contentView` and its position in the view hiera

[2022-03-17 10:12] edwardaux commented on #183
Ah, sorry... I didn't notice that. Thanks... if it is already being tracked, I'm happy for this issue to be closed

[2022-03-21 01:20] #183 closed

[2022-03-21 01:26] GroovinChip commented on #184
@edwardaux feel free to open a PR with this documentation update.

[2022-04-01 19:22] edwardaux opened #187 "🐛 Remove fonts from repo and packaged assets"
**Description**

I'm using macos_ui in my current app and happened to notice that one of Apple's San Francisco's fonts is distributed. I'm not a lawyer, but if you look at the license for those fonts (which is [included in the macos_ui repo](https://github.com/GroovinChip/macos_ui/blob/e0ebd3babf36d5f7382dc0a4a219cb685d6273af/fonts/SFProTTF/SFPro_Font_License.rtf#L44)), they are VERY clear about w

[2022-04-04 06:57] edwardaux opened #188 "🐛 Remove extra padding in alert dialog"
**Description**

This one is a minor UI glitch, but I don't have time to raise a PR at the moment (it'd be a good one for any new contributors)... when the `suppress` flag is set to `null` in the alert dialog, we end up with two `SizedBox` widgets in a row (which increases the padding at the bottom under the button).

<img width="306" alt="image" src="https://user-images.githubusercontent.com/1574

[2022-04-17 03:50] Andrewngabriel opened #190 "🐛 Active tab icon should change to white when tab is active"
**Description**

At the moment if you click on any left navigation tab, the leading icon remains blue which becomes invisible against the blue foreground of the highlighted tab.

**Steps To Reproduce**

1. Run the example app
2. Click on any of the navigation tabs on the left side
3. You should see that any tab you click on becomes activated while the leading icon remains blue therefore not being

[2022-04-17 15:57] Andrewngabriel commented on #187
Just tried this locally and didn't notice any difference after switching the font with `.AppleSystemUIFont`. I'll go ahead and open a PR with this fix 👍

[2022-04-17 16:49] Andrewngabriel opened #191 "🐛 Resizable pane constraints aren't respected when side bar is visible"
**Description**

I've noticed some weird behavior with resizable pane where if you have the sidebar opened and try to resize one of the panes, it doesn't respect the minimum width of other panes that have minimum width set.

I've attached a video below showing this in more detail. You could see that the behavior isn't very consistent.

**Steps To Reproduce**

1. Open the example app and click on B

[2022-04-17 19:20] GroovinChip commented on #190
Good catch, thank you for reporting this!

[2022-04-17 19:21] GroovinChip commented on #187
Excellent, thank you! And thank you @edwardaux for reporting this!

[2022-04-17 19:36] #170 closed

[2022-04-17 19:38] #187 closed

[2022-04-17 19:39] GroovinChip commented on #187
@Andrewngabriel I went ahead and took care of this

[2022-04-17 19:51] #181 closed

[2022-04-17 19:59] #190 closed

[2022-04-17 19:59] edwardaux commented on #187
@GroovinChip I just noticed that the commit you referenced above doesn't change the font name in `typography.dart`.

One small nitpick if I may... I believe the "correct" name of the system font is `".AppleSystemUIFont"`, but the value that is specified in typography is `"SanFranciscoPro"`. This happens to "work" because flutter just falls back to the standard system font if it can't find the spec

[2022-04-17 20:01] GroovinChip commented on #187
Works for me, I'l get that fixed up in a moment. Thanks for catching that!

[2022-04-17 20:03] GroovinChip commented on #187
Done!

[2022-04-17 20:44] #188 closed

[2022-04-17 21:18] GroovinChip commented on #70
It is worth noting that the screenshots in this issue are outdated. Please see the Figma kit, linked in the README, for updated images.

[2022-04-21 15:00] #86 closed

[2022-04-21 19:54] GroovinChip opened #195 "`MacosDatePicker`"
<img width="204" alt="Screen Shot 2022-04-21 at 3 55 16 PM" src="https://user-images.githubusercontent.com/4250470/164542226-a0788fbd-066b-40a1-9020-3470e5933ea3.png">

[2022-04-21 19:59] GroovinChip opened #196 "`MacosComboBox`"

[2022-04-21 19:59] GroovinChip opened #197 "`MacosSearchField`"

[2022-04-21 20:02] GroovinChip commented on #26
@whiplashoo this will play into #80

[2022-04-21 20:07] GroovinChip opened #198 "[MacosAlertDialog] Fix incorrect `suppress` placement"
Per updated guidelines from Apple, the `suppress` widget should be placed _above_ the buttons:
![image](https://user-images.githubusercontent.com/4250470/164543945-450ff36a-b54c-4e6d-ad7a-938e8ff24943.png)

[2022-04-21 20:15] GroovinChip opened #199 "☂️ Views"
- [ ] `MacosColumnView`
- [ ] `MacosOutlineView`
- [ ] `MacosPopover`
- [ ] #70
- [ ] `MacosTableView`

[2022-04-22 17:42] GroovinChip opened #200 "Refactor theme classes into their own directory"
Theme classes should be in their own files in the `/theme` directory, for cleanliness purposes.

[2022-04-22 17:46] GroovinChip opened #201 "Switch to `flutter_lints` and make relevant changes"

[2022-04-22 18:59] #201 closed

[2022-04-22 20:15] GroovinChip opened #202 "[MacosTextField] Introduce a `MacosTextFieldTheme` and `MacosTextFieldThemeData`"

[2022-04-22 20:29] #200 closed

[2022-04-22 21:32] whiplashoo commented on #80
OK, so I did some research on how the `Toolbar` widget should be implemented to match Apple design:

A `ToolBar` should be a different widget from the `TitleBar`. A `ToolBar` though, can also be integrated with the `TitleBar` (i.e. it can include the app's title info, traditionally in the beginning). [More info](https://developer.apple.com/design/human-interface-guidelines/macos/windows-and-views/

[2022-04-23 18:48] GroovinChip opened #203 "[MacosTextField] fix some color issues"
* The background color of the field does not match the Figma spec
* The focused border color doesn't match the spec
* The icon should not be colored by default
* The cursor should not be colored by default

[2022-04-23 21:28] GroovinChip opened #205 "Add a test workflow to GH Actions"

[2022-04-24 14:45] #195 closed

[2022-04-24 15:25] GroovinChip commented on #80
@whiplashoo this all looks great! One comment I have is that we should figure out a way to allow users to choose if the dividers between the titlebar/toolbar/content area should be visible or not, since some apps (like the ones in your screenshots) do not show them.

[2022-04-24 18:18] GroovinChip commented on #205
This actually already exists

[2022-04-24 18:18] #205 closed

[2022-04-26 14:43] GroovinChip commented on #198
The official macOS 12 Sketch library has the suppress option below the buttons, like we've done. So I think we don't need to make any changes.

[2022-04-26 14:43] #198 closed

[2022-04-26 15:24] GroovinChip opened #208 "☂️ Remaining Controls"
This umbrella issue will track the remaining controls that have yet to be implemented.

### Buttons
- [ ] MacosToggleButton
- [ ] MacosArrowButton
- [ ] MacosDisclosureButton

### Selectors
- [ ] MacosCircularSlider
- [ ] MacosStepper
- [ ] MacosSegmentedControl
- [ ] MacosSlider
- [ ] MacosColorWell
- [ ] MacosImageWell

### Indicators
- [ ] MacosProgressBar

[2022-04-26 20:01] #203 closed

[2022-04-27 15:16] whiplashoo commented on #197
Hey @Andrewngabriel can I pick this up? I am currently working on the Toolbar where you usually find a search field, so I could build and integrate it.

[2022-04-28 13:13] GroovinChip commented on #197
@Andrewngabriel I'm reassigning this to @whiplashoo because I don't want this to hold him back, and AFAIK you're not yet working on this.

[2022-04-29 17:08] GroovinChip opened #210 "`MacosColorWell`"

[2022-04-29 19:58] #184 closed

[2022-04-29 20:13] GroovinChip commented on #191
@whiplashoo do you know if this behavior is expected for native macOS applications that have multiple resizable panes?

[2022-04-29 20:17] GroovinChip opened #212 "`MacosDatePicker` has an incorrect text color in the graphical picker in light theme"
`MacosDatePicker`'s graphical widget has an incorrect text color in the graphical picker in light theme:

![Screen Shot 2022-04-29 at 4 16 37 PM](https://user-images.githubusercontent.com/4250470/166063356-cba6c0dc-8048-4418-8f28-6dab61c66283.png)

[2022-04-29 20:37] #32 closed

[2022-04-30 00:28] GroovinChip opened #213 "`MacosTimePicker`"

[2022-04-30 07:22] whiplashoo commented on #191
I am not sure. I could try implementing this in a native app to see how it behaves.

[2022-05-01 15:15] GroovinChip commented on #84
Closing because #80 will cover this.

[2022-05-01 15:15] #84 closed

[2022-05-01 16:50] GroovinChip commented on #191
That would be great, thank you.

[2022-05-02 15:43] #26 closed

[2022-05-02 15:43] #80 closed

[2022-05-02 15:43] #197 closed

[2022-05-02 15:43] #212 closed

[2022-05-02 20:40] #210 closed

[2022-05-03 16:42] #213 closed

[2022-05-03 16:49] GroovinChip opened #215 "Allow the graphical `MacosTimePicker` to be updated by dragging the clock hands to a different position"
The native graphical time picker has this functionality, so it should be implemented here.

[2022-05-03 16:50] GroovinChip opened #216 "Show a dropdown area with search results in `MacosSearchField`"

[2022-05-03 16:54] GroovinChip commented on #202
I've contemplated this further, and it occurs to me that the way the material library handles customization of TextField style is via InputDecoration. Perhaps instead of having a MacosTextFieldThemeData we should just do something similar? We'd have to do some refactoring, since we handle styling via various private variables.

What do you think @whiplashoo?

[2022-05-04 13:21] GroovinChip commented on #101
Version 1.0 has been released 🎉 and I have submitted `macos_ui` to the Flutter Favorite committee for consideration!

[2022-05-04 13:24] GroovinChip opened #218 "`MacosColorWell` should account for non-macOS platforms"
Currently, `MacosColorWell` does not account for the possibility that it will be used on platforms other than macOS. As such, when clicked, it should either:
* Throw an  `UnsupportedPlatformException`
* Open a non-platform dependent color picker'

I am undecided about which option is better. I welcome anyone's thoughts on the matter.

[2022-05-05 06:25] whiplashoo commented on #218
In the particular case of the `MacosColorWell`, I believe that it should just throw an `UnsupportedPlatformException` for the time being. If there were a Flutter widget for a color picker, I would suggest using that instead, but implementing our own would be a bit too much of a task (there are a lot of packages that do just that and have their own issues and requirements).

In the general sense, I

[2022-05-05 06:33] whiplashoo commented on #202
You are probably referring to [this implementation style?](https://github.com/flutter/flutter/blob/5464c5bac742001448fe4fc0597be939379f88ea/packages/flutter/lib/src/material/text_field.dart#L858). As I understand, they merge an [InputDecorationTheme](https://api.flutter.dev/flutter/material/InputDecorationTheme-class.html) and the constructor-provided decoration property, to get the final input de

[2022-05-05 09:43] dbsxdbsx commented on #26
I just wonder how to add vertical divider to separate item in toolbar? Now I only found `ToolBarSpacer`.

[2022-05-05 13:55] whiplashoo commented on #26
@dbsxdbsx that's not available yet, but definitely in the roadmap. If you want, please open a separate issue to track it.

[2022-05-05 14:30] GroovinChip opened #221 "Styling improvements for the graphical `MacosTimePicker`"
- [ ] Improve the border gradient
- [ ] Improve the inner shadow

[2022-05-05 14:49] GroovinChip commented on #26
@dbsxdbsx Yes, please feel free to open an issue for this feature.

[2022-05-05 14:49] GroovinChip commented on #202
Something like that, yeah.

[2022-05-05 14:53] GroovinChip commented on #215
Been thinking about how to do this and I am totally stumped :|

[2022-05-05 15:04] GroovinChip opened #223 "Add a link to the online demo in the readme"
We should link to our online demo at the top of our readme so potential users can immediately play around with it.

[2022-05-05 16:09] #221 closed

[2022-05-05 16:09] #218 closed

[2022-05-06 08:16] dbsxdbsx opened #225 "💡Some features I want from toolbar"
## Use case
I need a toolbar, which lay out vertically at the right/left side of window. And  it can hide if mouse moves over or in. Also some other feature I need, which I stated below.

## Proposal for both `ToolBarIconButton` and `ToolBarPullDownButton`
1. Add property `toolTip` --- showing description when mouse hovers on icon(it is not the property `label`);
2. Add `ToolBarDivider` which draw

[2022-05-06 08:40] MarnoDev opened #226 "💡 Add end sidebar support"
## Use case

![image](https://user-images.githubusercontent.com/14787921/167097687-fa90059f-fa79-418e-a28e-d3f42fb7a2a7.png)

## Proposal

End sidebar like Xcode does

[2022-05-06 12:44] whiplashoo opened #227 "💡 Add a `CustomToolbarItem` to allow for adding custom widgets in the toolbar"
## Use case

Currently the only accepted widgets in the `Toolbar` are those that extend the `ToolbarItem` class, and include the `ToolBarIconButton`, the `ToolBarPulldownButton`, and the `ToolBarSpacer`.

We need a way to provide more flexibility and allow the user to add any type of widget in the toolbar.

## Proposal

Create a `CustomToolbarItem` class that will wrap a widget and make it suitabl

[2022-05-06 13:33] GroovinChip commented on #226
Hi, @MarnoDev! Thanks for requesting this feature; I think it's reasonable. I'll put it on the backlog.

[2022-05-06 13:35] GroovinChip commented on #225
Hello @dbsxdbsx, and thanks for filing this issue.

I haven't seen anything in the Apple Human Interface Guidelines about a vertical toolbar, nor have I seen an actual macOS app with such a toolbar. Can you provide an existing example of this please?

Thanks!

[2022-05-06 17:30] #216 closed

[2022-05-06 17:45] #227 closed

[2022-05-06 17:49] whiplashoo commented on #225
Hey @dbsxdbsx , the new `CustomToolbarItem` (added via #228) can help with some of the customizations you need.

[2022-05-06 17:51] whiplashoo commented on #223
In a similar note, we should also add a link (or a badge) to the pub.dev page of the package.

[2022-05-07 00:59] dbsxdbsx commented on #225
Hi, actually I have little experience with mac app, and I have no idea what mac app uses vertical layout. But indeed I want to implement this vision effect in my app.  It is somewhat like [this flutter package](https://pub.dev/packages/collapsible_sidebar).  But I do like `ToolBarPullDownButton`, so I would prefer to deal with it all in `[macos_ui](https://github.com/GroovinChip/macos_ui)`.

[2022-05-07 01:03] dbsxdbsx commented on #225
Thanks, I think it useful, I would give it a try first.

[2022-05-07 01:05] #225 closed

[2022-05-07 19:44] GroovinChip opened #230 "Sidebar should support a `top` widget, so `MacosSearchField` can be used"
As the following screenshot from the macOS App Store shows, sidebars should be able to support a search field above the items in the sidebar
<img width="300" alt="Screen Shot 2022-05-07 at 3 38 51 PM" src="https://user-images.githubusercontent.com/4250470/167269459-74450d4c-6177-4f6c-b207-b8d66b2f4001.png">

[2022-05-07 20:13] whiplashoo opened #231 "💡 ToolBarDivider widget"
## Use case

A ToolBar should be able to show dividers (vertical lines) between the various toolbar items:

<img width="1163" alt="Screenshot 2022-05-07 at 11 12 44 PM" src="https://user-images.githubusercontent.com/9117427/167270336-462c2edb-4c35-4104-b993-8d8522fad96d.png">

(from the Mail app).

[2022-05-07 20:16] whiplashoo opened #232 "💡 Tooltip property for all toolbar items"
## Use case

All toolbar items should take a tooltip property to show a `MacosToolTip` when user hovers over them:

<img width="720" alt="Screenshot 2022-05-07 at 11 15 37 PM" src="https://user-images.githubusercontent.com/9117427/167270402-afd5a0db-69bd-4ff5-a237-34dcd1892e9c.png">

(example from the Keynote app)

[2022-05-07 20:34] #223 closed

[2022-05-08 19:45] whiplashoo commented on #215
Can be probably done with the [touchable](https://pub.dev/packages/touchable) package. I have used it on another project to all kinds of gesture detection to `CustomPaint` shapes.

[2022-05-08 19:48] #231 closed

[2022-05-08 19:48] #232 closed

[2022-05-08 19:49] GroovinChip commented on #215
Fascinating!! I will take a close look at this either this evening or tomorrow. Thank you!

[2022-05-08 20:09] whiplashoo commented on #225
@dbsxdbsx A `tooltipMessage` property is now available, to use with toolbar items, as described in your first suggestion.

[2022-05-08 20:13] GroovinChip commented on #225
Correction - it will be available once I release it 😅 (I’m AFK)

[2022-05-08 20:16] whiplashoo commented on #225
Of course!

[2022-05-08 23:22] GroovinChip opened #236 "Refactor file structure to match Human Interface Guidelines structure"
<img width="191" alt="Screen Shot 2022-05-08 at 7 22 21 PM" src="https://user-images.githubusercontent.com/4250470/167320004-f2567084-3e52-4765-b27e-8888a827adfc.png">

[2022-05-09 13:29] GroovinChip opened #237 "Make a note in the readme about platform support"
It should be noted that while pub.dev displays `macos_ui` as only supporting macOS, 99% of `macos_ui`'s widgets and themes can be used without issue on other platforms.

[2022-05-09 13:37] GroovinChip opened #238 "Make a dedicated documentation website"
Docusaurus looks like a good option

[2022-05-09 15:13] whiplashoo opened #239 "🐛 Changing the number of toolbar items (`actions`) programmatically throws a `RangeError`"
**Description**

While integrating the new toolbar into my app, I came across a `RangeError` when changing programmatically the number of toolbar items (`actions`). Screencast:

https://user-images.githubusercontent.com/9117427/167438342-95ea501b-1516-4a15-b15b-d9a7153c7c06.mov

**Steps To Reproduce**

1. Create a `Toolbar` with any number of `actions`.
2. Resize the window so that the toolbar is

[2022-05-09 19:03] #239 closed

[2022-05-10 09:54] BerlinLion opened #242 "🐛 Tabstop recognizes only 2 MacosTextFields"
**Description**

When having more than 2 MacosTextFields in a ListView, then the automatic tab jumps only between the first two elements and doesn't proceed to the 3rd or 4th one. Even, when you select the 3rd or 4th one per mouseclick and then enter tab, it jumps to the first MacosTextField, instead of jumping to the next MacosTextField in the list.

**Steps To Reproduce**

Create a ListView in a

[2022-05-11 00:57] GroovinChip opened #243 "Leverage `EventChannel` to listen for the system accent color"
Currently, we are hardcoding the bizarrely-named `MacosColors.controlAccentColor`, which is the user's selected system accent color. (Obviously this name doesn't make much sense, but that's what Apple calls it...).

Obviously, someone making a macOS application would expect that their choice of system-level accent color would be reflected in their application unless explicitly overridden. Since `m

[2022-05-11 01:36] GroovinChip commented on #242
Hi @BerlinLion! Thanks for reporting this. Would you mind sharing some minimum reproducible sample code? This will help me diagnose the issue. Thanks!

[2022-05-11 07:08] whiplashoo commented on #243
Could [this](https://twitter.com/stroughtonsmith/status/1178692734024130565/photo/1) be of any help?

[2022-05-11 07:11] #230 closed

[2022-05-12 16:22] jtdLab opened #247 "After upgrading to Flutter 3.0 I can't run applications with macos_ui"
Describe the bug
After the last Flutter update I could no longer run applications with macos_ui without errors.

To Reproduce
1. Upgrade to Flutter 3.0
2. Run a project that has macos_ui
3. The error will appear in the terminal

Flutter doctor:

[✓] Flutter (Channel stable, 3.0.0, on macOS 11.6.5 20G527 darwin-x64, locale de-DE)
    • Flutter version 3.0.0 at /usr/local/Caskroom/flutter/3.0.0/flut

[2022-05-12 16:48] GroovinChip commented on #247
Hello @jtdLab! Thanks for filing this issue.

I am already hard at work migrating `macos_ui` to support Flutter 3, and I expect that I will release a new version by the end of the week that does so.

[2022-05-13 04:39] #247 closed

[2022-05-13 05:55] vinidiktov opened #249 "Incorrect rendering of titlebar in full screen mode"
**Description**

The demo app, when switched to Full Screen Mode, displays an empty titlebar. See the screenshot attached.

**Steps To Reproduce**

1. Compile the demo.
2. Launch the demo.
3. Enter the full screen mode.

**Expected behavior**

The upper part of the sidebar and the upper part of the main pane should still be visible.

**Screenshots**

<img width="1280" alt="Capture d’écran 2022-05

[2022-05-13 06:05] whiplashoo commented on #249
Yes, seeing that too. It happens even when `ToolBar` or `Titlebar` are missing, so probably an issue with the Swift window layout code?

[2022-05-13 07:44] whiplashoo commented on #249
Did some testing, and it indeed comes from `MainFlutterWindow.swift`. The full screen settings [here](https://github.com/GroovinChip/macos_ui/blob/e4c37d6699d4f6b8b1ce98ded9a7d250d7d64341/example/macos/Runner/MainFlutterWindow.swift#L67) are not used at all currently. Simply changing this: https://github.com/GroovinChip/macos_ui/blob/e4c37d6699d4f6b8b1ce98ded9a7d250d7d64341/example/macos/Runner/Ma

[2022-05-13 09:59] BerlinLion commented on #242
Here you can download 2 screen records showing the issue.
[https://we.tl/t-4ufwUlHd9a](url)

And here is a sample code of the created textfields

[code]

I hope it'll help to fix the bug.

[2022-05-15 19:33] whiplashoo commented on #243
Also, a [more complete way](https://github.com/DylanMcD8/MacAccentColorCatalyst/blob/f4461d5e6641f7aa24648f34079502c203a2af5e/Mac%20Accent%20Color%20Test/ViewController.swift) of getting the accent color.

[2022-05-16 03:52] GroovinChip opened #253 "Update brick with fix from #252"

[2022-05-16 03:53] GroovinChip opened #254 "☂️ brick configuration options"
- [x] debug label on/off
- [x] system menu bar setup
- [x] multiwindow setup

[2022-05-16 03:54] #249 closed

[2022-05-16 17:46] #238 closed

[2022-05-17 03:19] #254 closed

[2022-05-17 03:19] #253 closed

[2022-05-21 23:08] Nana-Kwame-bot opened #258 "Missing Codelabs"
Sorry to create an issue for this if it's unnecessary but I've searched and asked everywhere but I can't find these supposed codelabs. I need to make sure I can target multiple apps if I'm using this package. On the documentation site, there is this:

`If at this point you are wondering how to manage targeting multiple platforms while using the appropriate widget libraries (such as material for mo

[2022-05-22 18:10] GroovinChip commented on #258
Yeah, this is coming soon. I’m working hard on codelabs and docs, so keep you eyes peeled :)

[2022-05-25 03:11] panw3i opened #259 "Error: Unable to spawn isolat"
mason make macosui_starter
? App name? (macosui_starter) macosui_starter
? App description? (A starter Flutter application for macOS with macos_ui) A starter Flutter application for macOS with macos_ui
? Organization name? (com.example) com.example
? Use window translucency? (y/N) No
? Show debug label? (y/N) No
? Use custom system menu bar? (y/N) No
? Add multi-window support? (y/N) No
Unable to

[2022-05-30 07:33] battistinidiego commented on #259
Same situation for me, did you find a solution?

[2022-05-30 13:54] battistinidiego commented on #259
UPDATE: I fixed it by uninstalling Mason (I installed it  with brew before) and reinstalling it with

`dart pub global activate mason_cli`

Then I followed the guide from step 2 normally: https://macosui.dev/docs/getting_started/quick_start

[2022-06-08 15:36] nu11ptr opened #262 "Feature Request: NSTableView"
This would be a very nice addition for data-heavy applications. Using a Material UI table with other mac widgets just won't look right.

[2022-06-15 00:01] sgehrman opened #263 "example app crashes on linux"
══╡ EXCEPTION CAUGHT BY WIDGETS LIBRARY ╞═══════════════════════════════════════════════════════════
js_primitives.dart:30 The following ArgumentError was thrown building WidgetGallery(state: _WidgetGalleryState#f993c):
js_primitives.dart:30 Invalid argument(s): Platform linux has no standard menu for PlatformProvidedMenuItemType.about.
js_primitives.dart:30 Call PlatformProvidedMenuItem.hasMenu t

[2022-06-15 00:04] GroovinChip commented on #263
This is not a bug - the usage of PlatformMenuBar in the example only supports macOS.

[2022-06-15 00:05] #263 closed

[2022-06-15 00:16] sgehrman commented on #263
Yeah, it runs if I delete the PlatformProvidedMenuItem.

You should at least make the example work on linux and not crash.  I'm writing a desktop app crossplatform.  If I were writing macos only, I would just use swift.

[2022-06-20 11:09] jonsaw opened #264 "MacosListTile RenderFlex overflowed"
**Description**

`MacosListTile` with long text does not wrap or does not cut off text with an ellipsis. Triggers a `RenderFlex overflowed` exception instead.

**Steps To Reproduce**

<details>
<summary>Code sample</summary>

[code]

</details>

**Expected behavior**

Expect text to wrap accordingly or cuts off with an ellipsis if `TextOverflow` is set.

**Screenshots**

<img width="684" alt="Scre

[2022-06-22 00:02] edeuss opened #266 "Modern window on fullscreen blocking content"
**Description**
When making the window full screen (green expand button), there seems to be a bar blocking content.

**Screenshots**
Not Fullscreen:
<img width="1430" alt="Screen Shot 2022-06-21 at 4 57 35 PM" src="https://user-images.githubusercontent.com/13773566/174915575-9fb95be9-71ff-4ee9-b038-754871bc4dfd.png">

Fullscreen:
<img width="1680" alt="Screen Shot 2022-06-21 at 4 54 44 PM" src="ht

[2022-06-22 08:37] whiplashoo commented on #266
Hi, thanks for the feedback.

This should have been fixed in #252. Running the example app looks fine, too.

Please make sure that your macos/MainFlutterWindow.swift file looks like the one in the [documentation](https://github.com/GroovinChip/macos_ui#modern-window-look)?

[2022-06-22 09:32] edeuss commented on #266
@whiplashoo Yea I am using that exact macos/MainFlutterWindow.swift file and the issue is still persisting.

[2022-06-22 11:49] whiplashoo commented on #266
OK, that's strange.

Could you try running the example app to see how it appears there? Do you have any other package that could be messing with the macOS window?

[2022-06-22 20:25] edeuss commented on #266
@whiplashoo Seems like it was actually caused by ```window_manager```, When I disabled the initializiton of window manager the issue stopped.  I'll report the issue to them.

[2022-06-22 20:25] #266 closed

[2022-06-24 15:00] #264 closed

[2022-06-26 17:59] #226 closed

[2022-06-26 21:34] slewallen opened #268 "SidebarItem with disclosureItems and leading widget places disclosure turn-down widget after leading widget"
**Description**

On Mac OS, an outline view item with disclosure items places the disclosure turn-down before any icon for the outline view item.  However, macos_ui is placing the leading icon before the turn-down icon.

See attached screenshot comparing what macos_ui is doing in comparison to actual Mac OS.

**Steps To Reproduce**

Modify the example at "https://pub.dev/packages/macos_ui/example"

[2022-06-30 19:35] GroovinChip commented on #268
@whiplashoo what do you think about this? It looks like the current implementation is indeed incorrect, but I need to verify.

[2022-06-30 20:41] whiplashoo commented on #268
Yes, indeed, I also see it in Finder or Disk Utility:

<img width="629" alt="Screenshot 2022-06-30 at 11 40 49 PM" src="https://user-images.githubusercontent.com/9117427/176774558-01e7ad2f-74b6-4139-a49c-7ee04fa544ca.png">

[2022-06-30 20:42] GroovinChip commented on #268
Alrighty then, I'll whip up a fix. Thanks for reporting this @slewallen

[2022-06-30 22:21] slewallen opened #270 "SidebarItem with disclosureItems should be selectable."
**Description**

SidebarItem with disclosureItems should be selectable.  In Mac OS, it is possible to select any node in the sidebar, not just child nodes.  For example, in Mail a user might have an "All Inboxes" node with two children such as "iCloud" and "Google."  Selecting "All Inboxes" in Mail would, for example, show all mail in both the "iCloud" and "Google" inbox children.

**Steps To Repr

[2022-06-30 22:37] slewallen opened #271 "Sidebar should support n levels of nesting to match"
**Description**

**Steps To Reproduce**

<details>
<summary>Code sample</summary>

[code]

</details>

**Expected behavior**

**Screenshots**

**Logs**

<details>
  <summary>Logs</summary>

[code]

[code]

[code]

</details>

[2022-06-30 22:43] GroovinChip commented on #271
@slewallen Did you mean to add more information to this issue? It appears to be empty.

[2022-07-01 16:20] GroovinChip commented on #270
@whiplashoo I've experimented a bit with this but there are some oddities:
1. Should the selection of a disclosure item result in the de-selection of the currently selected sidebar item?
2. I'm having difficulty with keeping the color of the leading icon correct when selected. I tried to wrap it with a MacosIconTheme but it did nothing.

Can you check this out? Change line 364 of `sidebar_items.da

[2022-07-01 16:25] GroovinChip commented on #271
This is an interesting one...I'm guessing it has to do with how we render the disclosure items:
[code]
But I would think that this should take care of sub-disclosure items too. @whiplashoo, do you have any thoughts on this?

[2022-07-07 18:35] GroovinChip commented on #270
Okay I figured out the color issue! Our example is using an `Icon`, not a `MacosIcon`, so the color wasn't being respected.

Questions remain about the behavior of the disclosure item, however:

For example, in the Mail app, clicking on the disclosure icon will expand/collapse an item without selecting it, and clicking anywhere else on the item will select that item and change the main view accord

[2022-07-07 18:39] GroovinChip commented on #271
Also, @slewallen, according to Apple's Human Interface Guidelines there should be no more than two levels of hierarchy in a sidebar. The behavior in Apple's Mail app obviously contradicts this, as Apple often does with their apps 🙄.

We often have to make judgement calls on whether to obey the HIG or follow Apple's lead via their own actual apps, and it's a tough call every time. I welcome anyone'

[2022-07-07 19:31] GroovinChip opened #275 "Sidebar should support multiple sizes"
According to [this page](https://developer.apple.com/design/human-interface-guidelines/components/navigation-and-search/sidebars#platform-considerations) of the Human Interface Guidelines, sidebars can have `small`, `medium`, and `large` sizes.

Apple's Mail and Notes app seem to use the `medium` size.

[2022-07-07 19:33] GroovinChip opened #276 "`SidebarItem`s should have an optional trailing widget"
As can be seen in Apple's Mail and Notes apps, sidebar items can have trailing content.

[2022-07-07 19:35] GroovinChip opened #277 "New widget: `MacosImageIcon`"
Should be identical to the `ImageIcon` from `flutter/widgets` but respect a `MacosIconThemeData` instead of an `IconThemeData`.

[2022-07-07 19:42] GroovinChip opened #278 "Run steps from `pr_prelaunch_tasks.sh` on pull requests"
In order to ensure that PR's are valid, some of the manual tasks for PR's (which are automated in the prelaunch script) should be executed by GH Actions.

The script will need to be adapted for use in Actions:
* Prompting for user input can be scrapped
* The `dart fix --dry-run` step ~~be scrapped~~ stay
* ~~Commits will need to be done by the GH Actions bot~~ No commits - the job should fail and

[2022-07-07 20:04] GroovinChip commented on #278
I'm ridiculous, the `flutter_analysis` action already does this 🤦‍♂️

[2022-07-07 20:04] #278 closed

[2022-07-08 05:03] slewallen commented on #271
The SwiftUI List supports any level of nesting with the sidebar style.  The Apple HIG only contains a general guideline for the sidebar.  My vote would for the macos_ui Sidebar to have the same capability as the SwiftUI List UI.

[code]
<img width="245" alt="SidebarDemo" src="https://user-images.githubusercontent.com/23299259/177919463-e736c238-ecc4-45b0-8871-c4a14998eb8c.png">

[2022-07-09 17:56] GroovinChip commented on #243
Okay, I have done a first pass on this feature via the code found above. It should be noted that this is done through `MethodChannel`, though, _not_ `EventChannel`. I tried doing that and I kept getting `null` back for the color. See [this gist](https://gist.github.com/GroovinChip/06697ecf39daa8eacd3582d8d2b938e3#file-systemaccentcolorprovider-swift) for more on that attempt.

This code is availab

[2022-07-09 20:40] #70 closed

[2022-07-10 04:43] edwardaux commented on #271
I can definitely see that this is a tricky situation. As you say, Apple are often inconsistent in how they implement things and it changes from version to version.

For what it is worth, though, here's my 2c... I've implemented a number of native mac apps and I always treat the HIG as a guide (the name itself gives it away - human interface /guidelines/). There will always be cases where there are

[2022-07-10 16:30] #275 closed

[2022-07-10 16:30] #276 closed

[2022-07-10 16:30] #277 closed

[2022-07-11 16:24] #237 closed

[2022-07-12 12:06] DSPerson commented on #199
MacosPopover I want!
I think MacosPopover is high level

[2022-07-13 13:48] shiguanghuxian opened #284 "Reopen window bug"
Starting from version 0.15.0, when you click x to close the window, and click the icon again to display the window, the color picker will be displayed
<img width="1014" alt="image" src="https://user-images.githubusercontent.com/13268627/178749327-6365f3f2-6a24-4959-b6a8-80a78e3e606f.png">

[2022-07-13 14:27] GroovinChip commented on #284
Does this happen for debug builds? Release builds? Both? Was the color picker opened when the application was closed? I need more details, please.

[2022-07-13 16:01] shiguanghuxian commented on #284
Both Debug and Release mode can be reproduced. After clicking on the upper left corner to close the window, the application enters the background. When you click the icon to open the application again, the color picker will open.

[2022-07-14 14:23] GroovinChip commented on #284
Is the color picker open prior to closing the app?

[2022-07-14 14:32] shiguanghuxian commented on #284
Uncertain when closing, you can see the color picker every time you reopen the window

[2022-07-14 15:14] GroovinChip commented on #284
Yeah, I understand you see it when you reopen the app, you've mentioned that several times. Are you telling me that when you close the app you don't know if the color picker is open? Can you see it at all before you close the app?

[2022-07-14 23:52] shiguanghuxian commented on #284
Yes, I don't know whether the color picker is turned on when it is turned off. As the app is turned off, the color picker will disappear. It should be noted that clicking close will not really exit the application, but only enter the background

[2022-07-14 23:57] GroovinChip commented on #284
I see. Well, I can verify that this behavior isn't appearing in any of the mac apps I work on. But none of those apps use the color picker, so I will try to reproduce the issue and see if I can figure out what's happening.

[2022-07-23 09:30] yuanhoujun opened #286 "mason make macosui_starter"
? App name? (macosui_starter) macos_sample
? App description? (A starter Flutter application for macOS with macos_ui) test
? Organization name? (com.example) com.example
? Use window translucency? (y/N) Yes
? Show debug label? (y/N) Yes
? Use custom system menu bar? (y/N) Yes
? Add multi-window support? (y/N) No

Unable to execute hook: /Users/ouyangfeng/.mason-cache/hosted/registry.brickhub.dev/m

[2022-07-28 16:41] GroovinChip commented on #215
@whiplashoo I've just experimented with the touchable and I was unable to achieve any results :/

[2022-07-31 15:41] whiplashoo commented on #215
Yes, I also had a go and found it will need a lot of work to get right. I managed to add gesture detectors (onPanUpdate) to the clock hands. But then, I got stuck on calculating the gesture delta and properly updating the hand's position.

[2022-07-31 16:45] GroovinChip commented on #215
Yeah it's quite a challenge. I'm really not sure what to do :/

On a more concerning note, I found several bugs with the actual time. I'll log those when I get a chance.

[2022-08-02 20:47] GroovinChip opened #288 "`MacosSheet` should allow setting a custom background color"

[2022-08-15 20:30] georgeherby opened #290 "Typo in relevance_indicator parameter (unselectedolor)"
Sorry for raising this and not fixing it. If no one gets to it I will sort it when I get a chance. I wouldn't normally raise it by m VS Code spell check is triggering my OCD ;)

`unselectedolor` should be `unselectedColor`

`macos_ui: ^1.5.1`

https://github.com/GroovinChip/macos_ui/blob/dev/lib/src/indicators/relevance_indicator.dart#L23

[2022-08-17 01:00] #290 closed

[2022-08-17 02:12] agostinofiscale opened #292 "Section header"
## Use case

Section header are useful to divide different area in sidebar.

## Proposal

In the following png you can see what I mean by saying "Section header", we could refacto the SidebarItem when there are disclosureItems but I think we can find ourself in a spaghetti plate.

![image](https://user-images.githubusercontent.com/42895575/185017906-46445b4a-17c8-47f6-a9ae-c67eb9ac9893.png)

What

[2022-08-17 15:48] #288 closed

[2022-08-18 12:08] dbsxdbsx opened #294 "Let MacosTabView be splitable and dragable like a dock"
## Use case
I am building a desktop app. Since there are many sub layouts(I mean MacosTabView here), I hope users could customize the layout by themselves. Something like this:https://pub.dev/packages/docking
## Proposal
For example, If there are 2 MacosTabViews, with each has 2 tabs. I hope each tab could be dragged out to dock to a new place or dock to another MacosTabViews.  If possible, I also

[2022-08-18 16:39] GroovinChip commented on #294
Hi @dbsxdbsx, thanks for filing this feature request! I'm not aware of anything in the Apple Human Interface Guidelines that outlines this behavior and I'm pretty sure I've not seen it in any mac applications. Do you have an example of an app that was built according to the Human Interface Guidelines that has this behavior, or can you point me towards some documentation that describes this?

[2022-08-18 16:58] dbsxdbsx commented on #294
I guess  Visual Studio could be the example---the sub windows in it are quite flexible and users can save their own layout.

[2022-08-18 18:25] GroovinChip commented on #294
Right, but that's not an Apple design thing. This package is for implementing Apple's macOS design language. Here's the page for TabVIew - https://developer.apple.com/design/human-interface-guidelines/components/layout-and-organization/tab-views

[2022-08-19 02:32] dbsxdbsx commented on #294
That's ok. So I should implement this effect by myself or other packages.

[2022-08-19 02:32] #294 closed

[2022-08-20 19:35] GroovinChip commented on #292
Hello @agostinofiscale! Thanks for the feature request.

Yes, this is certainly an improvement that should be made. Currently, `SidebarItems` builds one ListView. Perhaps it would be prudent to make `Sidebar` take a List of `SidebarSection`s, which would each expect a List of `SidebarItem`s. It would be tricky because there would be `ListView`s inside of `ListView`s, but maybe Slivers are the answ

[2022-08-20 19:54] GroovinChip opened #296 "Sidebar items should be allowed to be reorder-able"
It can be useful to re-order items in a sidebar.

This will required refactoring `SidebarItems` to use a `ReorderableListView`.

[2022-08-25 23:54] stanislavlysenko0912 opened #297 "MacosPopupMenuItem - Unhandled Exception"
Using of MacosPopupMenuItem drop exception on click to open.
If skip the error, the menu opens anyway.

![изображение](https://user-images.githubusercontent.com/86171768/186788672-7f71e4a0-90a6-4488-b4be-db237613f7da.png)

<details>
<summary>Exception</summary>

[code]

</details>

<details>
<summary>Code</summary>

[code]
</details>

<details>
  <summary>Logs</summary>

[code]

</details>

[2022-09-05 18:34] GroovinChip commented on #297
Thanks for filing this bug, @stanislavlysenko0912. A fix is incoming.

[2022-09-06 12:38] nu11ptr commented on #262
Appears this is also captured by https://github.com/GroovinChip/macos_ui/issues/199

[2022-09-08 07:59] onism0106 commented on #199
I want MacosPopover!!!!!

[2022-09-10 11:59] kw214 opened #301 "dark mode doesn't work"
**Description**

dark mode doesn't work.

**Steps To Reproduce**

<details>
<summary>Code sample</summary>

https://github.com/kimmy214/flutter_boilerplate_ns

</details>

**Expected behavior**

**Screenshots**

<img width="802" alt="截屏2022-09-10 19 57 40" src="https://user-images.githubusercontent.com/19725091/189482246-23ed5681-bbe9-4d69-992a-dc3e7cfef2e7.png">

**Logs**

<details>
  <summary>Lo

[2022-09-10 16:00] #297 closed

[2022-09-16 18:30] nu11ptr opened #303 "New widget: slider"
## Use case

Any of the typical use cases for a slider. Essentially a numeric input where the value is a fixed range.

## Proposal

Add a standard MacOs [slider](https://developer.apple.com/design/human-interface-guidelines/components/selection-and-input/sliders) widget as is documented in HIG

[2022-09-16 19:32] nu11ptr commented on #303
Just noticed this is captured by #208

[2022-09-16 19:32] #303 closed

[2022-09-16 19:33] nu11ptr commented on #199
MacosTableView please!

[2022-09-16 19:35] GroovinChip commented on #199
I've actually drawn up a spec for this, but I've been pretty burnt out recently. Hopefully will get around to it soon.

[2022-09-17 09:12] jinfagang opened #304 "How to use pop up selections without a `MacosTheme` parent widget?"
Hi, macOS_ui looks nice. How can I using this pop up selection without using any macostheme parent?

<img width="174" alt="image" src="https://user-images.githubusercontent.com/21303438/190849407-2682c96f-5d57-40dc-a0ec-8054832a999d.png">

I just want call this popup and popup this window:

<img width="331" alt="image" src="https://user-images.githubusercontent.com/21303438/190849431-0b1f285d-0efa

[2022-09-22 12:30] jarodtang opened #306 "Crashes while use MultiProvider"
**Description**

The application crashed while I try to warp MacosAPP with MultiProvier.

**Expected behavior**

It runs well.

[2022-09-24 02:22] DargonLee opened #307 "Some new feature wanted"
## Use case
hi,macos_ui is very nice.
could you add some widget like macos [NSOutlineView](https://developer.apple.com/documentation/appkit/nsoutlineview)

## Proposal

[2022-09-25 12:50] cbenhagen opened #308 "Double click on ToolBarIconButton maximises window"
**Description**

Double click on `ToolBarIconButton` maximises window

**Steps To Reproduce**

1. Open example app
2. Double click on any ToolBarIconButton
3. Window maximises

**Expected behavior**

`ToolBarIconButton` should not pass mouse events to window

**Screen recording**

https://user-images.githubusercontent.com/814785/192144265-2f722e60-b517-4ce0-88c5-87ec2fef302d.mov

[2022-10-04 13:20] GroovinChip commented on #308
@whiplashoo any thoughts on how we can account for this? Perhaps an `AbsorbPointer` or `IgnorePointer` somewhere?

[2022-10-04 13:25] GroovinChip commented on #306
@jarodtang can you provide crash logs? I feel like you're probably experiencing an issue related to `provider` and not `macos_ui`.

[2022-10-04 13:27] GroovinChip commented on #304
Hi @jinfagang. I'm not sure why you'd want to use this widget without a `MacosTheme`parent widget. Widgets in this library depend on it for what I hope are obvious reasons.

[2022-10-04 13:30] GroovinChip commented on #301
Hi @kimmy214, thanks for filing this issue. Which version of `macos_ui` are you using? Also, can you provide a _minimum_ reproducible sample? Something in one code file would be best. Cheers!

[2022-10-04 13:31] GroovinChip commented on #284
I've been unable to reproduce this issue, so I am closing it.

[2022-10-04 13:31] #284 closed

[2022-10-04 15:30] lucasjinreal commented on #304
@GroovinChip Hi, part of my project is highly couple with customized skeleton, it's very hard to wrap another layer on top of it. As for I just wanna this window, so really hoping to use it as a simple widget, rather than stack all dependencies UI tree on it.

[2022-10-04 15:32] GroovinChip commented on #304
You might be better off simply making your own dialog, then. Since this library is open-source, it shouldn't be too difficult.

[2022-10-05 00:53] lucasjinreal commented on #304
@GroovinChip  Hi, which widget should I using on macOS to have above effect? I cannot found a widget which pretty close to this

[2022-10-05 00:53] GroovinChip commented on #304
`MacosDialog`

[2022-10-05 05:17] lucasjinreal commented on #304
@GroovinChip thanks, Does `macosDialog` have the blur effect?

[2022-10-05 12:47] GroovinChip commented on #304
It does not.

[2022-10-05 13:54] lucasjinreal commented on #304
okay. then it's not my want

[2022-10-05 13:54] #304 closed

[2022-10-05 16:49] nu11ptr commented on #199
Also, MacosOutlineView please (aka tree table). I suspect this would come after a regular table and possibly build on it

[2022-10-05 16:51] nu11ptr commented on #199
Not sure what exactly you had in mind, but chatting with those on Fluent UI about adding a table as well, and they brought up the idea of using an established data table, but then simply styling it. Not sure how much easier/harder this would be to do, but thought I'd bring it up if it saved a lot of work.

[2022-10-05 17:32] GroovinChip commented on #199
I've looked at `DataTable` and it doesn't meet our needs.

[2022-10-06 08:40] anilcngz opened #309 "MacosPopupButton - ScrollController not attached to any scroll views"
When I click on MacosPopupButton, I am getting the following exception:

Unhandled Exception: 'package:flutter/src/widgets/scroll_controller.dart': Failed assertion: line 151 pos 12: '_positions.isNotEmpty': ScrollController not attached to any scroll views.

macos_ui: ^1.7.5

<details>
<summary>Code</summary>

[code]

</details>

**Logs**
[code]

[2022-10-06 17:32] whiplashoo commented on #308
The issue is that the double click behavior is handled by the native `NSToolbar`. The double click event doesn't even reach the toolbar widget and its children, so the `AbsorbPointer`, `IgnorePointer`, or using a `GestureDetector`'s `onDoubleTap` don't seem to work.

[2022-10-06 17:37] whiplashoo commented on #309
Hi @anilcngz, I cannot reproduce this issue with your provided code snippet on Flutter v3.3.3. It seems like an exception thrown by older Flutter versions.

Could you also post your `flutter doctor -v`?

[2022-10-06 18:14] anilcngz commented on #309
Hi @whiplashoo, below you can find it:

[code]

[2022-10-07 14:38] GroovinChip commented on #308
I wonder if there's a way to block double-click events for widgets

[2022-10-07 14:41] GroovinChip commented on #191
were you ever able to do this?

[2022-10-07 14:52] #236 closed

[2022-10-10 19:54] anilcngz commented on #309
Hi @whiplashoo , was this helpful? Please let me know if there is anything I can provide.

[2022-10-10 23:27] Luckey-Elijah opened #310 "add `initialDate` to `MacosDatePicker`"
## Use case
I'd like to control the initial date set in `MacosDatePicker` widget.

## Proposal

Create a parameter `initialDate` that sets `_MacosDatePickerState._initialDate` on init state. If the value of the parameter `initialDate` is `null`, then use `DateTime.now()`.

Example of ideal usage:

[code]

[2022-10-10 23:27] Luckey-Elijah commented on #310
Feel free to assign to me for a contribution :smile:

[2022-10-11 20:19] whiplashoo commented on #309
I can't reproduce this either with the example app or with your code snippet (with Flutter v3.3.4 and macos_ui v1.7.6). @GroovinChip can you have a look as well?

[2022-10-11 20:28] GroovinChip commented on #309
I'll give it a shot, yeah.

[2022-10-15 10:25] anilcngz opened #311 "Sidebar with bottom"
## Use case

There is no way to unselect a SideBarItem because we need to provide a currentIndex (It must be in the range of 0 to [items.length]). I think because of that when I add a Settings page by using bottom property as below and click on it, still SideBarItem is shown as selected.

[code]

## Proposal

<img width="1112" alt="Screen Shot 2022-10-15 at 13 19 12" src="https://user-images.githu

[2022-10-16 07:06] Sebastien-Remy opened #312 "Installation failed"
Hello,

I want to try macos_ui widget.

When I try to install it in a basic project

`flutter pub add macos_ui
`
Return an error 65:

[2022-10-19 11:26] talkbiz commented on #309
I face the same issue. Kindly fix this bug ASAP.

[2022-10-23 00:32] keaganhilliard opened #313 "SideBarItem leading icon theme should respect configured theme"
**Description**

The SideBarItem leading widget is hardcoded to blue.

[code]

**Steps To Reproduce**

1. Change the MacosIconTheme color to anything other than the MacOS blue.
2. Create a sidebar
3. Add sidebar items with MacosIcons in the leading widget
4. Notice that the defined theme icon color is not respected.

<details>
<summary>Code sample</summary>

[code]

</details>

**Expected behavior

[2022-10-24 21:52] nu11ptr commented on #313
Related to #243 I think?

[2022-10-24 23:26] keaganhilliard commented on #313
Related in that the app is not respecting the OS control accent color for sure, but it's also not overridable when it should be.

[2022-10-26 00:31] jonny7737 commented on #309
I have the same issue:
Flutter (Channel stable, 3.3.5, on macOS 13.0

[2022-11-04 18:03] bernaferrari opened #315 "No wallpaper tint support"
I wish there were support for Monterey background colors:

<img width="487" alt="image" src="https://user-images.githubusercontent.com/351125/200044831-ef91beb1-1e17-45f4-b4c7-e8445b99b93a.png">

<img width="657" alt="image" src="https://user-images.githubusercontent.com/351125/200044775-3e16b8f4-765f-41c6-a8b2-2a76e60f7815.png">

[2022-11-04 18:06] bernaferrari opened #316 "Fidelity issues"
The trailing icon becomes darker when clicked. On macOS it becomes lighter.
Dragging the trailing icon doesn't drag the toolbar on macOS.
Double clicking the trailing icon doesn't minimize the screen on macOS.

https://user-images.githubusercontent.com/351125/200045237-fbcc1a82-3aca-4773-beb2-1b5776ed1be9.mov

[2022-11-15 16:08] jmatth opened #317 "Input events in the toolbar trigger window position and size changes"
**Description**

When using macOS 11 style windows, click events in the toolbar still trigger window changes even if they are located over a UI element. This includes double-clicking changing the window size, and click-and-drag moving the window.

**Steps To Reproduce**

1. Run the example app
2. Navigate to any page in the sidebar with UI elements in the toolbar. The "Toolbar" page is a good opti

[2022-11-17 12:20] Adrian-Samoticha commented on #315
Hello,

I am the maintainer of the macOS support of the [flutter_acrylic](https://github.com/alexmercerind/flutter_acrylic) package, which has recently received wallpaper tinting support.

I have not tried it, yet, but there _might_ be a way to make both packages work together to achieve the desired effect, at least until wallpaper tinting is officially supported by macos_ui.

[2022-11-18 12:07] ricard-v opened #318 "Cannot have native translucency on the "MainFlutterWindow.swift""
**Description**

I cannot seem to be able to have the native window with the translucent blurring background other Mac OS native apps have. I have followed the instruction described here.

I was able to reproduce the issue both on my project and the example project of this repository.

**Steps To Reproduce**

All the source code comes from the example project in this repo. That being said, since I

[2022-11-18 12:22] ricard-v opened #319 "SideBar background color is completely dark when running with Light theme"
**Description**

When running the Flutter app in light theme with this package, the `SideBar` background color is broken as it is completely dark.

Also, there is no issue whatsoever in dark theme.

**Steps To Reproduce**
I was able to reproduce the issue with the example code from this repository.

1. Run the example project with `macos_ui: ^1.7.5`

**Expected behavior**

In light theme, the `Sid

[2022-11-19 17:21] ricard-v commented on #318
Issue is solved. I was building the project against flutter master channel. Sorry for submitting this issue!

[2022-11-19 17:21] #318 closed

[2022-11-19 17:22] ricard-v commented on #319
Issue is solved. I was building the project against flutter master channel. Sorry for submitting this issue!

[2022-11-19 17:22] #319 closed

[2022-11-21 22:26] ricard-v opened #321 "MacosScaffold's main content area not scrolling under the blurring Toolbar"
**Description**

Not really sure if it is a feature request but after reading the source code I am inclined to believe it might be an omission.

Anyway, looking at some native MacOS Apps, such as the actual AppStore, the navigation bar allows for content to scroll under while applying the well-known blurring translucency:

<img width="1407" alt="image" src="https://user-images.githubusercontent.co

[2022-11-27 17:41] Adrian-Samoticha commented on #315
Just in case anyone is interested, I managed to implement this feature into macos_ui and started a discussion regarding its implementation: #322